@charset "utf-8";
/* CSS Document */

/* ----<< GLOBAL STYLES >>---- */
/* ----<< GLOBAL STYLES >>---- */
/* ----<< GLOBAL STYLES >>---- */

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 16px;
	}
	
strong{
	font-weight: bold;
	}
	
em{
	font-style:italic;
	font-weight: inherit;
	}
	
strong > em{
	font-weight: bold;
	}
	
#main-content blockquote{
	/*background-color: #eee;
	background-image:url(../images-2/block-quote-bg.gif);
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px 50px 10px 50px;
	margin: 0 0 10px 0;
	border: 1px solid #ddd;
	clear: both;*/
	background-color: #eee;
	padding: 10px 10px 10px 10px;
	margin: 0 0 10px 0;
	border: 1px solid #ddd;
	clear: both;
	}
	
#right-hand-column blockquote{
	background-color: #eee;
	background-image:url(../images-2/block-quote-narrow-bg.gif);
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px 30px 10px 30px;
	margin: 0 0 10px 0;
	border: 1px solid #ddd;
	clear: both;
	}


/* ----<< HEADINGS >>---- */
/* ----<< HEADINGS >>---- */
/* ----<< HEADINGS >>---- */

h1{
	}
		
	#h1-link{
	background-image:url(../images/logo-inside-lg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	float:left;
	height:0;
	overflow:hidden;
	padding:80px 0 0;
	width:246px;
		}

    #chemtube-h1{
	background:transparent;
	background-repeat:repeat;
	width:295px;
	height:65px;
	float:right;
	}
	
	#front-page-h1{
		background-image:url(../images-2/logo-fp.gif);
		background-position:left top;
		background-repeat:no-repeat;
		float:left;
		height:0;
		overflow:hidden;
		padding:120px 0 0;
		width:290px;
		}
	
h2, #left-hand-column h1, #main-content h1{
	font-size: 20px;
	font-weight: bold;
	color: #013b81;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 9px;
	/*width: 100%;*/
	}
	
	
	#header.intranet h2{
		background-image:url(../images-2/padlock.png);
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 25px;
		}
		
	#splash h2{
		border: none;
		margin: 0px 0px -30px 0px;
		}
		
		#splash h2 a{
		}
	
	.study-box h2{
		border-bottom: none;
		line-height: 20px;
		padding: 5px 10px 5px 10px;
		margin: 0 0 10px 0;
		}
		
				
	#right-hand-column div#find-a-course h2{
		color: #66c9cf;
		}
		
	.department-h2 {
		font-size: 22px;
		}
							
			
	/*----faculty page test------

	.vets-home-page div#main-content h2, .vets-page div#main-content h2{
		font-size: 20px;
		border-bottom: none;
		line-height: 20px;
		margin-bottom: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #007ea1;
		width: auto;
		}

	.vets-home-page div#main-content h3, .vets-home-page div#right-hand-column h3,.vets-page div#main-content h3{
		font-size: 14px;
		border-bottom: none;
		line-height: 20px;
		margin-bottom: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #007ea1;
		width: auto;
		}*/

h3, #right-hand-column h1{
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 9px;
	clear: both;
	font-size: 16px;
	color:#000000;
	}
	
	#main-content h3{
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 9px;
	clear: both;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	}
				
	#quick-links h3, #secondary-content h3, .fp-box h3, #useful-links h3{
	line-height: 20px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: none;
	background-color: #45579C;
	color:#FFFFFF;
		}
						
	.department-right-hand-column h3{
		font-size: 16px;
		}
				
	#right-hand-column .study-box h3, #professional-services h3, #academic-departments h3{
		color: white;
		border-bottom: none;
		background-color: #666698;
		width: 210px;
		padding-left: 10px;
		padding-right: 10px;
		line-height: 20px;
		}
		
	#right-hand-column .study-box .pg-rhc-h3{
		background-color: #807867;		
		line-height: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		}
		
	#right-hand-column .study-box .pg-rhc-h3-blue{
		background-color: #354993;		
		line-height: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		}

	#right-hand-column .study-box .int-rhc-h3{
		background-color: #2E81AC;
		line-height: 20px;
		}

	.staff-page #right-hand-column .study-box h3{
		background-color: #e9d1d7;
		color: #333;
		}
		
	#right-hand-column #ug-find-a-course h3{
		background-color: #8f91b2;
		}
		
	#right-hand-column #pg-find-a-course h3{
		background-color: #A19479 ;
		}
		
	#right-hand-column #int-find-a-course h3{
		background-color: #4C9DC7;
		}
	

h4{
	font-size: 12px;
	line-height: 20px;
	margin: -5px 10px 5px 0;
	padding: 0 0 0 0;
	clear: both;
	}
		
	#main-content h4, #right-hand-column h4{
		font-style: italic;
		font-weight: bold;
		}
		
	.extras-box h4{
		clear: none;
		float:left;
		margin:10px;
		font-weight: normal;
		}
		
	
h5{
	font-size: 12px;
	line-height: 20px;
	margin: -5px 10px 5px 0;
	padding: 0 0 0 0;
	clear: both;
	font-style: italic;
	}



/* ----<< TEXT STYLES >>---- */
/* ----<< TEXT STYLES >>---- */
/* ----<< TEXT STYLES >>---- */

p{
	margin: 0 0 20px 0;
	font-size: 13px;
	}
	
	#breadcrumb p{
		margin: 0 0 0 260px;
		line-height: 30px;
		}
	
	#useful-links p{
		margin: -5px 10px 10px 10px;
		}
	
	#more-useful-links p{
		padding: 0px;
		margin: 0px;
		}

	#secondary-content p{
		padding: 0 10px 0 10px;
		}
		
	.extras-box p{
		margin-bottom: 0px;
	}
		
	.corpquotefooter/*oldstyle*/{
		font-size: 80%;
		color: #000000;
		background-color: #cccccc;
		padding: 5px;
		}

	.headingcolour/*oldstyle*/{
		background-color: #def3fe;
		padding: 5px;
		border-bottom: none;
		}
		
	.headingcolour_alt/*oldstyle*/{
		background-color: #f3ede0;
		text-indent: 5px;
		}
		
	.colouring/*oldstyle*/{
		color: #344893;
		}
		
	.alumni_gen/*oldstyle*/{
		color: #a14c4c;
		}
		
	.textheader/*oldstyle*/{
		color: #3d6c5e;
		font-weight: bold;
		}
		
	.whitetext/*oldstyle*/{
		color: #ffffff;
		background-color: #013b81;
		}
		
	.neutralshading/*oldstyle*/{
		background-color: #e9dec7;
		}
		
	.silver_heading/*oldstyle*/{
		font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,sans-serif;
		color: #99a8b7;
		font-weight: bold;
		font-size: 1.6em;
		}
		
	#slidetext{
		color: #999999;
		margin-bottom: 10px;
	}
	
	.mediumshading/*oldstyle*/{
		background-color: #e9dec7;
		border-bottom: none;
		}
		
	.mediumshading h3, .mediumshading h2/*oldstyle*/{
		border-bottom: none;
		}
		
	.lightshading{
		background-color: #f9f6f0;
		border-bottom: none;
		}

	.thick_line{
		border-top-width: 3px;
		border-right-width-value: 3px;
		border-right-width-ltr-source: physical;
		border-right-width-rtl-source: physical;
		border-bottom-width: 3px;
		border-left-width-value: 3px;
		border-left-width-ltr-source: physical;
		border-left-width-rtl-source: physical;
		border-top-style: solid;
		border-right-style-value: solid;
		border-right-style-ltr-source: physical;
		border-right-style-rtl-source: physical;
		border-bottom-style: solid;
		border-left-style-value: solid;
		border-left-style-ltr-source: physical;
		border-left-style-rtl-source: physical;
		border-top-color: #e9dec7;
		border-right-color-value: #e9dec7;
		border-right-color-ltr-source: physical;
		border-right-color-rtl-source: physical;
		border-bottom-color: #e9dec7;
		border-left-color-value: #e9dec7;
		border-left-color-ltr-source: physical;
		border-left-color-rtl-source: physical;
		width: 100%;
		}
		
	.ness{
		font-weight: bold;
		color: #006087;
		}
	
	.atozactive {
            color:#CC0066;
			font-size: 13px;
        }
	.footer {
	    font-size: 12px;
		text-align: center;
	    }	

		

/* -----LINKS----- */	

a{
	color: #333;
	}
	
	a:hover{
	color: #000099!important;
	text-decoration: underline!important;
		}
		
	#left-hand-column a, .nav-link, #roundhouse-nav a, .quick-links a{
		color: #333!important;
		text-decoration: none;
		}
		
	.nav-link{
		text-shadow : #333 1px 1px 1px;
		border-bottom: none;
		}
		
	.nav-link:hover{
		text-decoration: underline;
		}
	
	.nav-link:active{
	font-weight: bold;	    
	    }
		
	.quick-links a{
	width: 130px;
	padding-left: 10px;
	background-color: #F4FFFF;
	float: left;
	margin-left: 10px;
		}
		
	.quick-links a:hover, .quick-links .light a:hover{
		background-color: #eeeeee;
		}
		
	.quick-links .light a{
	background-color: #DCE0EC;
		}			
	
	#skip-nav-target, #skip-nav-target:hover{
		text-decoration: none;
		cursor: default;
		}
	
	#skip-nav{
		margin-left: -2000px;
		height: 20px;
		margin-bottom: -20px;
		float: left;
		}
			
	.study-button:hover{
		background-image: url(../images-2/study/study-button-hover.png);
		}
			
		.whitetext a:link{
			color: white!important;
		}
			
	/* ---- links in the main content of faculty pages ---*/
	
		
		
	#main-content a > img{
		background-color: transparent;
	}
