@charset "utf-8";
/* CSS Document */
@import url("all-widgets.css ");

/* ----<< GLOBAL STYLES >>---- */
/* ----<< GLOBAL STYLES >>---- */
/* ----<< GLOBAL STYLES >>---- */

html{
	background-image:url(../images/html-bg.png);
	background-position: center top;
	background-repeat: repeat-y;
	overflow-y: scroll;
	}

body{
	background-image:url(../images/html-bg.png);
	background-position: center top;
	background-repeat: repeat-y;
	}
	
	body.admin-stripe{
		background-image:url(../images-2/admin-bg.png);
		background-repeat: no-repeat;
		}
	
td, th{
	/*padding: 5px;*/
	vertical-align:top;
	}
	
th{
	font-weight: bold;
	}

	
hr{
	width: 100%;
	height: 1px;
	color: #999;
	background-color: #fff;
	float:left;
	padding: 0px;
	margin: 0px 0 10px 0;
	}

/* ----<< PAGE HEADER >>---- */
/* ----<< PAGE HEADER >>---- */
/* ----<< PAGE HEADER >>---- */

#header{
	min-height: 105px;
	position:relative;
	display: block;
	background-position:20px 15px;
	background-repeat: no-repeat!important;
	margin-bottom: 5px;
	background-image: url(../images/Part6.jpg);
	}
					
	#header img{
		display: none;
		}
			
	#header .logo{
		display: block;
		position: absolute;
		top: 20px;
		left: 300px;
		}

	

/* ----<< PAGE STRUCTURE >>---- */
/* ----<< PAGE STRUCTURE >>---- */
/* ----<< PAGE STRUCTURE >>---- */

#container{
	margin: 0 auto;
	width: 990px;
	background-image:url(../images/body-bg-reflex.png);
	background-position: center top;
	background-repeat: repeat-x;
	}

	/* ----<< LEFT HAND COLUMN >>---- */

#left-hand-column{
	width: 220px;
	float: left;
	margin: 0 10px 0 20px;
	display: inline;
	}

#left-hand-column .extras-box{
	background-color: #CFD2E5;
	}
	
#right-hand-overflow{
	padding: 10px 10px 10px 10px;
	}
	
	/* ----<< CENTRAL COLUMN STANDARD PAGES >>---- */

#main-content{
	width: 460px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #999;
	background-color: #fff;
	position: relative;
	}
	
	#main-content.wide{
		width: 710px;
		padding-top: 10px;
		border-right: none;
		}
		
	#main-content.wide1{
		width: 950px;
		padding-left: 20px;
		padding-top: 10px;
		border-right: none;
		}	
		
	#main-content.no-divider{
		border-right: none!important;
		width: 470px;
		padding: 0;
		}
	
	#main-content.department-main-content{
		width: 390px;
		}
		
	/*-----IMAGES-----*/
		
#main-content img, #right-hand-column img{
	margin-bottom: 20px;
	margin-right: 10px;
	/*float: left;
	padding-bottom: 20px;
	padding-right: 10px;*/
	display: inline;
	background-color: transparent;
	}
	
	a > img:hover{
		background-color: transparent!important;
	}

#container > #main-content img{ /*adds a max-width propert that is ignored by ie6*/
	max-width: 460px;
	height: auto;
	}
	
	#container > #main-content.wide img{
		max-width: 710px;
		}
		
	#container > #main-content.no-divider img{
		max-width: 470px;
		}
		
	#container > #right-hand-column img{
		max-width: 230px;
		height: auto;
		}
	
	#main-content .grey-border,  #right-hand-column .grey-border{
		background-color: #eee;
		border: 1px solid #ddd;
		padding: 3px;
		margin-bottom: 20px;
		margin-right: 10px;
		}
		
	#main-content .imagenomargin{
		margin: 0px;
		}
		
	#main-content.department-main-content img, #right-hand-column img{
		clear: both;
		float: none;
		}
		
	#main-content p > img{
		margin-bottom: 0px;
	}
	
	#main-content table img{
		padding: 0px;
		margin: 0px;
	}
		
	/*Preserve default left float for Study Images*/
	

	/*floats for use in pages*/
	#main-content .float-left{float: left;}
	#main-content .float-right{float: right;}
	#main-content .float-left-grey-border{float: left; background-color: #eee; border: 1px solid #ddd; padding: 3px; margin-right: 10px;}
	#main-content .float-right-grey-border{float: right; background-color: #eee; border: 1px solid #ddd; padding: 3px; margin-left: 10px;}

/*not really being used, so commented out 10/06 paul */
/*#main-content object{
	max-width: 460px;
	}
	
#main-content.no-divider object{
	max-width: 470px;
	}*/
	
#main-content h3 + img{
	margin-top: 5px;
	margin-bottom: 15px;
	}
	
/* ----- hack dropped in to fix the issue of images on tulip staff pages not resizing Paul 30/06 -----*/
	
td.mainbody > img/*[height="100"]*/ {
	height: 100px!important;
	}
	
/* ----- images with captions in re-usable content ----- */

	.image-with-caption-left{
		padding: 3px;
		border: 1px solid #ddd; 
		background: #eee; 
		float: left;
		margin-right: 10px;
		width: 222px;
	}
	
	.image-with-caption-right{
		padding: 3px;
		border: 1px solid #ddd; 
		background: #eee; 
		float: right;
		margin-left: 10px;
		width: 222px;
	}
	
	#main-content .image-with-caption-left img, #main-content .image-with-caption-left p, #main-content .image-with-caption-right img, #main-content .image-with-caption-right p{
		margin: 0px;
		width: 100%;
	}


	/*----tables-----*/

#main-content table{
	margin-bottom: 20px;
	clear: both;
	}
	
	/*pulling in the width of tables to fit inside the new layout for safari/FF/IE8*/
	
	#main-content table{
		width: auto!important; /*added important rule 08/06 which seems to have failed in IE */
		max-width: 460px!important;
		}
	
	#main-content.wide table{
		max-width: 710px!important;
		}
		
	/*pulling them in for IE6 + 7
	
	#main-content table{
		width:expression(document.body.clientWidth > 3000? "460px": "auto" );
		}
	
	#main-content.wide table{
		width:expression(document.body.clientWidth > 3000? "710px": "auto" );
		}*/
		
	/* ----<< RIGHT HAND COLUMN >>---- */
	
#right-hand-column{
	width: 230px;
	float: left;
	margin-left: 10px;
	background-color: #fff;
	}
	
#right-hand-column.department-right-hand-column{
	width: 300px;
	}
	
#right-hand-column .extras-box{
	width: 210px;
	border: none;
	box-shadow : 0 0 0px #ddd; 
	-webkit-box-shadow : 0 0 0px #ddd; 
	}
	
#right-hand-column ul, #main-content ul, #study-content ul, #right-hand-column ol, #main-content ol, #study-content ol{
	margin: 0 0 20px 10px;
	}

#right-hand-column ul li, #main-content ul li, #study-content ul li{
	list-style: disc;
	line-height: 20px;
	margin: 0 0 0 20px;
	list-style-position: outside;
	clear: both;
	}

#right-hand-column ol li, #main-content ol li, #study-content ol li{
	list-style: decimal;
	line-height: 20px;
	margin: 0 0 0 20px;
	list-style-position: outside;
	clear: both;
	}

	#right-hand-column li.no-bullet, #main-content li.no-bullet, #study-content li.no-bullet{
		list-style: none;
		}
		
	#main-content li img{
		margin-bottom: 0px!important;
		}

	/* ----<< FOOTER >>---- */

#footer-new{
	background-image: url(../images/footer-bg-reflex.png);
	background-position: top;
	background-repeat: no-repeat;
	width: 950px;
	margin: 10px 0 0 20px;
	padding-top: 20px;
	clear: both;
	float: left;
	display: inline;
	}
	

	
	/* ----<< FRONT PAGE >>---- */
	
#splash-wrapper{
	width: 630px;
	float: left;
	margin: 0 0 0 20px;
	margin-left: 20px;
	margin-top: 10px;
	display: inline;
	}

#splash{
	position:relative;
	display: block;
	}
	
#news{
	-moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#EEEEEE;
    float:none;
    margin-top:10px;
    padding-bottom:10px;
    padding-right:1px;
    position:relative;
    width:630px;
	}
	
#news ul{
	margin: 0 0 10px 0;
	overflow: auto;
	margin-bottom: 0px;
	padding-bottom: 10px;
	}

#news li{
	width: 130px;
	float: left;
	margin-left: 10px;
	padding-right: 10px;
	display: inline;
	}
	
#news li + li{
	padding-left: 10px;
	width: 138px;
	border-left: 1px solid #999;
	margin-left: 0px;
	}
	
#news .news-clear{
	overflow: auto;
	float: right;
	clear: both;
	background-color: #ddd;
	padding: 5px 10px;
	margin: 0px 10px;
	text-decoration: none;
}
	
#quick-links{
	width: 310px;
	margin: 0 0 10px 10px;
	margin-top: 10px;
	float: left;
	background-color: #eee;
	border-radius : 5px; 
	-moz-border-radius : 5px; /* Mozilla */
	-webkit-border-radius : 5px; /* Webkit */
	}
	
.quick-links li{
	float: left;
	margin: 0 0 10px 0;
	}
		
.quick-links li:hover{
	background-color: #eeeeee;
	}
	
.quick-links .light a{
	background-color: #dcd7c4;
	}
	
#useful-links.extras-box{
	margin: 10px 0 10px 10px;
	width: 310px;
	padding: 0px;
	border: 0px;
	box-shadow : 0 0 0;
	-webkit-box-shadow : 0 0 0;
	border-radius : 5px;
	-moz-border-radius : 5px; /* Mozilla */
	-webkit-border-radius : 5px; /* Webkit */
	}
	

/* ----<< NAVIGATION >>---- */
/* ----<< NAVIGATION >>---- */
/* ----<< NAVIGATION >>---- */

	/* ----<< CENTRAL NAVIGATION >>---- */

#roundhouse-nav {
	float: left;
	width: 950px;
	margin: 0 0 10px 20px;
	background-color: #c6cdd7;
	display: inline;
	}

#roundhouse-nav ul{
	float:left;
	}
		
#roundhouse-nav li{
	border-right: 1px solid white;
	float: left;
	}
	
#roundhouse-nav a{
	width: 94px;
	height: 30px;
	line-height: 15px;
	padding: 5px 10px 5px 10px;
	float: left;
	-webkit-transition: background-color .5s linear;
	}
	
	#roundhouse-nav a:hover{
		background-color: #f1f1f1;
		text-decoration: none;
		}
		
	#roundhouse-nav .roundhouse-sub a{
	width: auto;
	height: auto;
	-webkit-transition: none;
	}
	
	#roundhouse-nav .roundhouse-sub a:hover{
		text-decoration: underline;
		}

#roundhouse-nav .roundhouse-sub{
	background-color: #f1f1f1;
	margin-top: 0px;
	padding-left: 7px;
	width: 943px;
	}
	
#roundhouse-nav .roundhouse-sub li{
	font-size: 10px;
	border: 0px;
	padding: 0 0 0 3px;
	margin: 0;
	width: auto;
	height: auto;
	}
	
	/* ----<< LEFT-HAND-NAV >>---- */
	
#left-hand-nav{
	width: 210px;
	margin: 10px 10px 10px 0px;
	padding: 0 10px 10px 10px;
	float: left;
	background-color: #eee;
	/*css3 selectors
	box-shadow : 0 0 5px #ddd; 
	-webkit-box-shadow : 0 0 5px #ddd; */
	border-radius : 5px; 
	-moz-border-radius : 5px; /* Mozilla */
	-webkit-border-radius : 5px; /* Webkit */
	}
	
	#left-hand-nav li:first-child{
		margin-bottom: 10px;
		background-color: #354993;
		background-position: bottom left;
		width: 210px;
		margin-left: -10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 20px;
		border-bottom: none;
		margin-bottom: 9px;
		margin-top: 0px;
		color: #fff;
		}
		
	
		
/*#left-hand-nav,*/.extras-box{
	width: 208px;
	margin: 0 10px 10px 0px;
	padding: 0 10px 0px 10px;
	float: left;
	background-position: top;
	background-repeat: repeat-x;
	background-color: #edeadd;
	background-color: #eee;
	border: 1px solid #d6dae9;
	/*css3 selectors*/
	box-shadow : 0 0 5px #ddd; 
	-webkit-box-shadow : 0 0 5px #ddd; 
	border-radius : 5px; 
	-moz-border-radius : 5px; /* Mozilla */
	-webkit-border-radius : 5px; /* Webkit */
	}
			
#left-hand-nav li, #right-hand-column #left-hand-nav li{
	line-height: 15px;
	margin: 3px 0 5px 0;
	list-style: none;
	}
	
.extras-box h3, .study-box h3, #right-hand-column #left-hand-nav li:first-child{
		line-height: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 10px;
		margin-top: 0px;
		}
					
.menusub, .menusub-lib-elec, .menusub-lib-how, .menusub-lib-info, .menusub-lib-res, .menusub-lib-con, .menusub-lib-my{
	padding-left: 10px;
	font-size: 12px;
	background-color: #ffffff;
	margin: 0 0 0 0!important;
	padding-bottom: 5px;
	}
	
	.menusub:before{
		content: "- ";
		}
		
	.ug-nav .menusub{
		background-color: #666698;
		}
		
	.int-nav .menusub{
		background-color: #2e81ac;
		}
		
	.pg-nav .menusub{
		background-color: #807867;
		}
		
	.menusub + .menusub{
		margin-top: 0px;
		padding-top: 0px;
		border-top: 0px;
		}
	
	
/* ----<< COMMENTS >>---- */
/* ----<< COMMENTS >>---- */
/* ----<< COMMENTS >>---- */


/* ----<< EXTRAS >>---- */
/* ----<< EXTRAS >>---- */
/* ----<< EXTRAS >>---- */



	
		/* ----<< STYLES FOR NON JAVA USERS - THESE NEED TO BE OVER-RIDDEN BY JAVA.CSS >>---- */
		
	
.js .TabbedPanelsTab+.TabbedPanelsTab, .js .TabbedPanelsContent+.TabbedPanelsContent{
	visibility: visible;
	}
	
.js div#find-a-book, .js div#my-account{
	height: 190px;
	}
	
.TabbedPanelsTab+.TabbedPanelsTab, .TabbedPanelsContent+.TabbedPanelsContent{
	visibility: hidden;
	}
	
	/* ----<< FINCH CSS >>---- */
	
.finch-1{
	display: inline-block;
	width: 200px;
	text-align: center;
	position: relative;
	top:-330px;
	left:410px;
	margin-bottom: -250px;
	}
	
.finch-2{
	display: inline-block;
	width: 200px;
	text-align: center;
	position: relative;
	top:-200px;
	left:410px;
	margin-bottom: -250px;
	}
	
	
#roundhouse-nav .ug-template-li{
	background-color: #f1f1f1;
	}
	
	
	/* ----<< TULIP MERGE PAGES CENTRAL >>---- */
	
#additional_tulip td{
	padding: 0px;
}

		
/* ----- Liverpool First Styles ----- */

#wrapper #box1 #box1-inner li{
	list-style: none;
}

#AccordionPanelContent ul li, {
	list-style: disc;
	line-height: 20px;
	margin: 0 0 0 20px;
	list-style-position: outside;
	clear: both;
	}
