@charset "UTF-8";

/*search box css */
.TabbedPanels{
	}
	
#TabbedPanels1{
	position: absolute;
	top: 500px;
	left: 14px;
	margin: 0;
	padding: 0;
	float: left;
	clear: none;
	height: 50px;
	width: 750px; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

#TabbedPanels1 .TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}


#TabbedPanels1 .TabbedPanelsTab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: relative;
	height: 20px;
	line-height: 20px;
	padding: 0 5px 0 5px;
	text-align: center;
	float: left;
	font-size: 12px;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	margin-right: 5px;
	background-color:url(../images-2/search-tab-bg-reflex.png);
	color: #fff;
	/*text-shadow : #000 1px 1px 1px;*/
}

#TabbedPanels1 .TabbedPanelsTab + .TabbedPanelsTab {
	}



/*
.TabbedPanelsTabHover {
	background-color: #CCC;
} */

 
#TabbedPanels1 .TabbedPanelsTabSelected {
	background-image: url(../images-2/search-tab-selected-bg-reflex.png);
	color: #333333;
	text-shadow : #ddd 1px 1px 1px;
	}
	

#TabbedPanels1 .TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}


#TabbedPanels1 .TabbedPanelsContentGroup {
	clear: both;
}

#TabbedPanels1 .TabbedPanelsContent {
background-color:#FFFFFF;
}

#TabbedPanels1 .TabbedPanelsContent a{
	text-decoration: none;
}

#TabbedPanels1 .TabbedPanelsContent a:hover{
	text-decoration: underline;
}


/*.search-button, .login-button{
	background-image: url(../images-2/search-button-bg-reflex.png);
	width: 62px;
	height: 30px;
	border: none;
	vertical-align: bottom;
	cursor:pointer;
	}*/


/* This selector is an example of how to change the appearnce of the currently
 * active container panel. The class "TabbedPanelsContentVisible" is
 * programatically added and removed from the content element as the panel
 * is activated/deactivated.
 */
#TabbedPanels1 .TabbedPanelsContentVisible {
}

#TabbedPanels1 .TabbedPanelsContentVisible form{
	padding: 0px;
	margin: 0px;
}

/*central nav styles */

#TabbedPanels1 .TabbedPanelsTab-central {
	height: 30px;
	line-height: 15px;
	width: 90px;
	background-color: #fff;
	font-size: 12px;
	color: #7b0000;
	font-size: 12px;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	float: left;
	padding: 5px 0 5px 10px;
}

#TabbedPanels1 .TabbedPanelsTab-central + .TabbedPanelsTab-central {
	border-left: 1px solid #999;
	}
	
#TabbedPanels1 .TabbedPanelsTab-central:hover{
	text-decoration: underline;
	}


/*study styles*/

.study-page #TabbedPanels1 .TabbedPanelsTab{
	background-color: #FFFFFF;
	background-image: none;
	color: #333;
	}
	
.study-page #TabbedPanels1 .TabbedPanelsTabSelected{
	background-color: #fff;
	background-image: none;
	}

.study-page #TabbedPanels1 .search-input{
	border: 1px solid #c0c5db;
	}
	
	
/* ----<< faculty tabs >>---- */
/* ----<< faculty tabs >>---- */
/* ----<< faculty tabs >>---- */

	

/* ----<< tabbed panel 2 - staff home page >>---- */
/* ----<< tabbed panel 2 - staff home page >>---- */
/* ----<< tabbed panel 2 - staff home page >>---- */


#TabbedPanels2{ /*main container for tabs - all the classes below will need to be targeted with this ID to override the css for the search box*/
	width: 700px;
	background-color: #ffffff;
	font-size:12px;
	}
	
#TabbedPanels2 ul{
	padding: 0px;
	margin: 0px;
	}
	
#TabbedPanels2 li{	
	clear: none!important;
}

#TabbedPanels2 .TabbedPanels{ /*class attached to the id above... */
font-size:12px;
	}
	
#TabbedPanels2 .TabbedPanelsTabGroup{ /*class attached to the UL that contains the tabs */
	width: 100%;
	clear: both;
	/*background-color: #8286ac;*/
	background-color: #ffffff;
	float:left;
	}
	
#TabbedPanels2 .TabbedPanelsTabGroup a{
	/*color: #fff!important;*/
	text-decoration: none;
	}
	
#TabbedPanels2 .TabbedPanelsTab{ /*the tabs, duh...*/
	/*background-color: #8286ac;*/
	font-size:12px;
	background-color: #ffffff;
	list-style: none;
	padding: 0 10px 0 10px;
	margin: 0px 0 0 0;
	line-height: 30px;
	float:left;
	color: #000000;
	cursor: pointer;
	border-right: 1px solid #eee;
	}
	
#TabbedPanels2 .TabbedPanelsTabSelected{ /*the selected tab*/
	background-color: #EEEEEE;
	font-size:12px;
	}
	
#TabbedPanels2 .TabbedPanelsTabSelected a{
	color: #333!important;
	}
	
#TabbedPanels2 .TabbedPanelsContentGroup{ /* div that holds the content panels*/
	clear: both;
	background-color:#FFFFFF;
	font-size:12px
	}
	
#TabbedPanels2 .TabbedPanelsContent{ /*the panels that make up the content */
	padding: 10px 10px 10px 10px;;
	}

/*#TabbedPanels2 .TabbedPanelsContent ul{
	margin-left: 20px;
	}*/

#TabbedPanels2 .TabbedPanelsContent li{
	margin-bottom: 10px;
	list-style-position: outside;
	}
