.pb-ui .hide { display: none !important; }

.bordered {
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 2px #eee; 
}
.cover-image__image img {
    box-shadow: 0px 0px 10px 2px #eee;
}
.content.cen-toc .cover-image__image img {
    box-shadow: none;
}

/* buttons */
.button-link {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #369;
    color: #fff;
    filter: alpha(opacity=85);
    moz-opacity: .85;
    alpha-opacity: 85;
    opacity: .85;
    font-size: .9em;
    line-height: 1em;
}
.button-link.centered {
    display: block;
    margin: 0 auto;
}
.button-link.button-yellow, .button-link.button-lightblue, .button-link.button-brightblue, .button-link.button-blue, .button-link.button-mediumblue, .button-link.button-darkblue, .button-link.button-green, .button-link.button-white {
    filter: alpha(opacity=100);
    moz-opacity: 1;
    alpha-opacity: 100;
    opacity: 1;
}
.button-link.button-yellow {
    background-color: #FDD941;
    color: #000000;
}
.button-link.button-lightblue {
    background-color: #488dc4;
    color: #fff;
}
.button-link.button-brightblue {
    background-color: #00a3e0;
    color: #fff;
}
.button-link.button-blue {
    background-color: #1e73b3;
    color: #fff;
}
.button-link.button-mediumblue {
    background-color: #1f3c9a;
    color: #fff;
}
.button-link.button-darkblue {
    background-color: #005083;
    color: #fff;
}
.button-link.button-green {
    background-color: #56b148;
    color: #fff;
}
.button-link.button-white {
    background-color: #fff;
    color: #000;
}
.button-link:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=100);
    moz-opacity: 1;
    alpha-opacity: 100;
    opacity: 1;
}
.button-link.button-yellow:hover {
    background-color: #d8d8d8;
    color: #6b510a;
}
.button-link.button-lightblue:hover {
    background-color: #d8d8d8;
    color: #488dc4;
}
.button-link.button-brightblue:hover {
    background-color: #d8d8d8;
    color: #00a3e0;
}
.button-link.button-blue:hover {
    background-color: #d8d8d8;
    color: #1e73b3;
}
.button-link.button-mediumblue:hover {
    background-color: #d8d8d8;
    color: #1f3c9a;
}
.button-link.button-darkblue:hover {
    background-color: #d8d8d8;
    color: #005083;
}
.button-link.button-green:hover {
    background-color: #d8d8d8;
    color: #56b148;
}
.button-link.button-white:hover {
    filter: alpha(opacity=85);
    moz-opacity: .85;
    alpha-opacity: 85;
    opacity: .85;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
    border: 0;
}

/* sitewide footer */
.footer_second-row_left { text-align: right; }
.footer_second-row_left img { height: auto; }
.footer_menu { 
    margin-bottom: 25px; 
    text-align: right
}
.footer_menu li {
    display: block;
}
.footer_menu li:after { 
    content: ""; 
    padding: 0;
}
.footer_menu_copyright { margin-top: 10px; }
.footer_second-row_right { text-align: left; }
.footer_second-row_right h3 {}
.footer_second-row_right ul { 
    list-style: none; 
    padding-left: 0;
}
.footer_second-row_right a { color: #92cbf6; }
.footer_social_section { 
    clear: both;
    float: right;
    text-align: right;
}
.footer_social_header {
    display: inline-block;
    margin-right: 25px;
}
.footer_social_header h4 { font-size: 1rem; }
.footer_social { display: inline-block; }
@media (max-width: 1025px) {
    .footer_second-row_left { text-align: center; }
    /*.footer_second-row_left img { height: 100%; }*/
    .footer_menu {
        text-align: center;
        margin-top: 7px;
    }
    .footer_second-row_right h4 {
        text-align: center;
    }
    .footer_second-row_about, .footer_second-row_resources, .footer_second-row_support { 
        width: 33%; 
        text-align: center;
    }
    .footer_social_section { 
        text-align: center; 
        margin-top: 15px;
        width: 100%;
    }
    .footer_social_header { 
        width: 100%;
        margin-right: 0;
    }
    .footer_social { 
        width: 100%;
        margin-top: 0; 
    }
}
@media (min-width: 1368px) {
    .footer_social_section {
        padding-right: 55px;
    }
}
@media (min-width: 1675px) {
    .footer_social_section {
        padding-right: 138px;
    }
}


/*Modifier class for 16:9 aspect ratio*/
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

/*Modifier class for 4:3 aspect ratio*/
.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.video-wrapper {
    background: #d8e3ed;
    padding: 10px;
    font-size: 0.8em;
    color: #5e5e5e;
    line-height: 1.2;
    box-shadow: 0px 3px 7px -4px #5e5e5e;
}


/* virtual issues */
h1.vi-header:before {
    content: 'Virtual Issue';
    font-size: .9375rem;
    text-transform: uppercase;
    color: #95989a;
    font-weight: 500;
    display: block;
    line-height: 2.2em;
}
h1.vi-header.special:before {
    content: 'Special Issue';
}
h1.vi-header {
    margin-top: 30px;
    line-height: 1.1em;
}
.vi-widget-wrapper, .pubs-widget-wrapper {
    margin-top: 60px;
}
.vi-widget-wrapper .issue-item:first-child, .pubs-widget-wrapper .issue-item:first-child {  
    margin-top: 0;
}
.vi-widget-wrapper .issue-item, .pubs-widget-wrapper .issue-item {
    margin-left: 0;
}
.tab .vi-widget-wrapper .issue-item:first-child, .tab .pubs-widget-wrapper .issue-item:first-child{
    border-top: none;
}
@media(max-width:767px) {
    .vi-widget-wrapper .issue-item_img > img, .pubs-widget-wrapper .issue-item_img > img{
      padding-top:40px;
    }
}
.vi-banner {display: none;}
.vi-sidebar-content {
  margin: 60px 0 40px 0;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px #eee;
  padding: 20px;
}
.vi-sidebar-content h2 {
    font-size: 1.5rem;
} 
.vi-content-wrapper .sideBox {
    border: 1px solid #888; 
    clear:both;
}
.vi-content-wrapper .sideBox img {
    padding: 10px;
}
@media (max-width: 1024px) {
  .vi-content-wrapper .button-link {
    display: none
   }
 }


/* showPublications cover borders */
.showPublications .search__item img {
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 2px #eee;
}

/* journal home containers */
@media (min-width: 768px) {
    .journal-home .container {
        width: 100vw;
    }
}
@media (min-width: 1026px) {
    .journal-home .container {
        width: 95vw;
    }
}
@media (min-width: 1675px) {
    .journal-home .container {
        width: 1530px;
    }
    .journal-home .container_scaled-down {
        padding: 0;
    }
}

/* journal prelaunch */
.content.prelaunch {}
.content.prelaunch .promo-header {
    height: 350px;
    padding-top: 50px;
}
.content.prelaunch .promo-announcement { margin-top: 25px; }
.content.prelaunch .promo-announcement-content {}
.content.prelaunch .promo-cover {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    margin-top: 14px;
    border-top: 3px solid #fdc82f;
    padding: 0;
}
.content.prelaunch .promo-cover .cover-section {
    flex: 1;
    background: #fff;
    margin: 30px 0;
    border-left: 1px solid #000;
    padding: 0 15px;
}
.content.prelaunch .promo-cover .cover-section img {
    display: block;
    margin: 0 auto;
}
.content.prelaunch .promo-cover .cover-section p {
    font-weight: bold;
}
.content.prelaunch .promo-info {
    display: flex;
    flex-direction: column;
    min-height: 550px;
}
.content.prelaunch .promo-info .promo-info-content {
    flex: 1;
    background: #efefef;
    width: 90%;
    margin: 0;
    padding: 23px 15px 25px 15px;
    border-top: 2px solid #fdc82f;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    box-shadow: 0px 0px 10px 2px #eee;
}
.content.prelaunch .promo-info .promo-info-content h2 {
    color: #0039a6;
    margin: 0 0 10px 0;
}
.content.prelaunch .promo-info .promo-info-content h2:not(:first-child) {
    margin-top: 25px;
}
.content.prelaunch .promo-info .promo-info-content hr {
    border: 1px solid #ccc;
}
.content.prelaunch .promo-info .promo-info-content .info-link {
    display: block;
    margin: 14px 0;
}
.content.prelaunch .promo-info .promo-info-content .button-link {
    padding: 10px 0;
}
.content.prelaunch .promo-info .promo-info-content i.fa {
     font-size: 1.2em;
     margin-right: 5px;
}
.content.prelaunch .promo-info .promo-info-content .info-link i.fa {
    color: #fdc82f;
    float: left;
    margin: 0 10px 15px 0;
    padding-top: 2px;
}
.content.prelaunch .promo-video {}
.content.prelaunch .promo-video iframe { border: none; }
.content.prelaunch .cta-section { margin-top: 0; }
.content.prelaunch .promo-editor-section { margin-top: 25px; }
.content.prelaunch .promo-editor-section .promo-editor { 
    margin-top: 50px;
    border-right: 1px solid #000;
    min-height: 400px;
}
.content.prelaunch .promo-editor-section .promo-editor .editor-info-content {
    max-width: 250px;
    margin: 0 auto;
}
.content.prelaunch .promo-editor-section .promo-editor .editor-info-content img {
    width: 200px;
}
.content.prelaunch .promo-editor-section .promo-editor .editor-info-content h3 {
    font-size: 1.25em;
    margin-bottom: 5px;
}
.content.prelaunch .promo-editor-section .promo-editor-articles {}
.content.prelaunch .promo-editor-section .promo-editor-articles h2 {
    margin: 30px 0 0 17px;
}
.content.prelaunch .promo-editor-section .promo-editor-articles .publication-list_content .issue-item:first-child {
    margin-top: 20px;
}
/*.content.prelaunch .promo-editor-section .promo-editor-articles .publication-list_content > .issue-item {
    margin-top: 40px;
}
.content.prelaunch .promo-editor-section .promo-editor-articles .publication-list_content > .issue-item ~ .issue-item {
    margin-top: 20px;
}
*/
/*.content.prelaunch .promo-editor-section .promo-editor-articles .article-list {
    width: 80%;
    margin-left: 25px;
}
    text-decoration: underline;
}
.content.prelaunch .promo-editor-section .promo-editor-articles .article-list p {
    margin: 3px 0 30px 0;
}
.content.prelaunch .promo-editor-section .promo-editor-articles .article-list p.pub-date {
    margin-bottom: 5px;
    color: #555;
    font-size: .9em;
}
.content.prelaunch .promo-editor-section .promo-editor-articles .article-list a {
    color: #000;
    font-weight: bold;
}*/
@media (max-width: 1024px) {
    .content.prelaunch .promo-info .promo-info-content {
        width: 100%;
    }
    /*.content.prelaunch .promo-editor-section .promo-editor-articles .article-list {
        width: 100%;
        margin-left: 15px;
    }*/
}
@media (max-width: 767px) {
    .content.prelaunch .promo-cover .cover-section {
        border-left: none;
    }
    .content.prelaunch .promo-editor-section .promo-editor {
        border-right: none;
    }
    .content.prelaunch .promo-editor-section .promo-editor-articles h2 {
        margin-left: 0;
    }
}
@media (max-width: 500px) {
}


/* journal-home */
.content.journal-home {
    /*background: #f7f7f7;*/
    background: #ffffff;
    padding-bottom: 20px;
}
.content.journal-home, .content.pubs-custom, .content.toc, .content.article {
    overflow-x: hidden;
}

/* journal-home navigation */
.content.journal-home .journal-home_navigation {
    width: 100%;
    /*margin-bottom: 15px;*/
    margin-bottom: 0;
}
.content.journal-home .journal-home_navigation .main-nav {
    background: #fff;
    border-bottom: 4px solid #FFCE34;
}
.content.journal-home .journal-home_navigation #main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.content.journal-home .journal-home_navigation #main-nav-list .item {
    background: #0039a6;
    color: #fff;
    padding: 6px 0;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    flex-grow: 1;
    border-right: 1px solid #f7f7f7;
}
.content.journal-home .journal-home_navigation #main-nav-list .item:last-child {
    border-right: none;
}
.content.journal-home .journal-home_navigation #main-nav-list .item:hover {
    color: #FFCE34;
}
.content.journal-home .journal-home_navigation #nav-acsodf #nav-asap { display: none; }
@media (max-width: 767px) {
    .content.journal-home .journal-home_navigation #main-nav-list {
        flex-direction: column;
    }
    .content.journal-home .journal-home_navigation #main-nav-list .item {
        border-right: none;
        border-bottom: 1px solid #f7f7f7;
        padding: 8px 0;
    }
    .content.journal-home .journal-home_navigation #main-nav-list .item:last-child {
        border-bottom: none;
    }
}

/* journal-home_section adjustments */
.content.journal-home .journal-home_section {
    /*background-color: transparent;*/
    background-color: #f7f7f7;
    /*padding: 5px 20px;*/
    padding: 15px 20px 5px 20px;
    margin: 0 auto; 
}
.content.journal-home .journal-home_section h2 {
    line-height: 1.625rem;
}
.content.journal-home .journal-home_section p {
    margin-block-end: .5em;
}
@media (max-width: 500px) {
    .content.journal-home .container_scaled-down {
        padding-left: 10px;
        padding-right: 10px;
    }
    .content.journal-home .journal-home_section {
        padding: 10px 10px 5px 10px;
    }
}
@media (max-width: 767px) {
    .content.journal-home.container_scaled-down {
        padding-left: 50px;
        padding-right: 50px;
    }
    .journal-home_section h2 {
        margin-bottom: 5px;
    }
}

/* journal-home slideShow adjustments */
.content.journal-home .journal-home_section .slideShow {
    margin: 0 -20px 0 -10px;
}

/* journal-home slideShow right arrow adjustment */
.content.journal-home .owl-stage-outer {
    margin-right: 20px;
    margin-bottom: 10px;
}

/* journal-home section headings */
.content.journal-home .collection-title {
    display: inline-block;
    margin-right: 7px;
}
.content.journal-home .collection-description {
    display: inline-block;
    font-style: italic;
}
.content.journal-home .asap-logo {
    display: inline-block;
    margin: 0 7px 0 0;
}
.content.journal-home .asap-logo + .collection-description {
    vertical-align: bottom;
    margin-top: -5px;
    margin-bottom: 11px;
}
.content.journal-home .asap-logo ~ .top-content {
    margin-top: -4px;
}

/* journal-home feature section */
.content.journal-home .journal-feature {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-top: 4px solid #fdc82f;
    padding: 15px 20px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.content.journal-home .journal-feature h2 {
    margin-bottom: 7px;
}
.content.journal-home .journal-feature h3 {
    margin-top: 7px;
    margin-bottom: 0;
    line-height: 1em;
}
.content.journal-home .journal-feature > div h3:not(:first-of-type) {
    margin-top: 15px;
}
.content.journal-home .journal-feature p {
    margin: 7px 0;
}
.content.journal-home .journal-feature .title {}
.content.journal-home .journal-feature .description {}
.content.journal-home .journal-feature .citation {}
.content.journal-home .journal-feature .link {}
.content.journal-home .journal-feature img { 
    float: left;
    width: 40%;
    margin: 5px 15px 10px 0;
}
.content.journal-home .journal-feature .cover {
    border: 1px solid #ccc;
}
.content.journal-home .journal-feature img {
    box-shadow: 3px 3px 3px grey;
    border: 1px solid #D3D3D3;
}
.content.journal-home .journal-feature ul {
    font-size: .875rem;
}
.content.journal-home .journal-feature .quicklinks .collection-title {
    /*margin-top: 7px;*/
}
.content.journal-home .journal-feature .quicklinks-link a {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 4px;
}
.content.journal-home .journal-feature .quicklinks-link a:not(:last-of-type) {
    border-right: 1px solid #999;
}
@media (max-width: 1024px) {
    .content.journal-home .journal-feature img { 
        width: 50%;
    }
}
/* sitewide_resources section */
.sitewide_resources {
    width: 100%;
    background: #EAEAEA;
    clear: both;
}
.content.journal-home .sitewide_resources {
    /*margin: 10px 0;*/
}
.sitewide_resources .resources-container {
    margin: 0 auto;
    padding: 0;
    float: none;
    background: #EAEAEA;
}
.sitewide_resources .resources-content {}
.sitewide_resources .resources-content .join-acs {
    border-top: 4px solid #FFCE34;
    background: #EFEFEF;
}
.sitewide_resources .resources-content .resources-items{
    padding: 0;
}
.sitewide_resources .resources-content .item {
    text-align: center;
    padding: 25px;
}
.sitewide_resources .resources-content .item h3 {
    margin-top: 15px;
    height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
}
.sitewide_resources .resources-content .item .logo {
    height: 85px;
    margin-bottom: 25px;
}
.sitewide_resources .resources-content .axial .item .logo {
    padding-top: 10px;
}
.sitewide_resources .resources-content .publishingcenter .item .logo {
    padding-top: 5px;
}
.sitewide_resources .resources-content .infocentral .item .logo {
    padding-top: 20px;
}
.sitewide_resources .resources-content .item .logo a {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin: 0 auto;
}
.sitewide_resources .resources-content .axial .item .logo a {
    background-image: url(/pb-assets/images/homepage/resources/axial.png);
    max-width: 175px;
    height: 43px;
}
.sitewide_resources .resources-content .publishingcenter .item .logo a {
    background-image: url(/pb-assets/images/homepage/resources/publishing-center.png);
    max-width: 178px;
    height: 64px;
}
.sitewide_resources .resources-content .reviewerlab .item .logo a {
    background-image: url(/pb-assets/images/homepage/resources/reviewer-lab.png);
    max-width: 103px;
    height: 85px;
}
.sitewide_resources .resources-content .infocentral .item .logo a {
    background-image: url(/pb-assets/images/homepage/resources/infocentral.png);
    max-width: 178px;
    height: 47px;
}
.sitewide_resources .resources-content .axial .item .logo a:hover {
    background-image: url(/pb-assets/images/homepage/resources/axial-grey.png);
}
.sitewide_resources .resources-content .publishingcenter .item .logo a:hover {
    background-image: url(/pb-assets/images/homepage/resources/publishing-center-grey.png);
}
.sitewide_resources .resources-content .reviewerlab .item .logo a:hover {
    background-image: url(/pb-assets/images/homepage/resources/reviewer-lab-grey.png);
}
.sitewide_resources .resources-content .infocentral .item .logo a:hover {
    background-image: url(/pb-assets/images/homepage/resources/infocentral-grey.png);
}
.sitewide_resources .resources-content .item .description {
    max-width: 350px;
    margin: 0 auto;
}
.sitewide_resources .resources-content .join-acs .item {}
.sitewide_resources .resources-content .join-acs .join-acs-btn {
    margin: 25px 0 0 0;
    font-size: 1.1rem;
    box-shadow: 1px 4px 6px rgba(0,0,0,.16);
}
.content.homepage .sitewide_resources {}
@media only screen and (min-width:1026px) {
    .sitewide_resources .resources-content .join-acs {
        margin-left: 5px;
        width: calc(25% - 10px); 
    }
}
@media only screen and (min-width: 1675px) {
    .content.journal-home .sitewide_resources .resources-container {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 1369px) and (max-width: 1674px) {
    .content.journal-home .sitewide_resources .resources-container {
        padding: 0 80px;
    }
}
@media only screen and (max-width:1368px) and (min-width:1178px) {
    .sitewide_resources .resources-content .join-acs .item {
        min-height: 330px;
    }
    .content.journal-home .sitewide_resources .resources-container {
        padding: 0 25px;
    }
}
@media only screen and (max-width:1177px) and (min-width:1026px) {
    .content.journal-home .sitewide_resources .resources-container {
        padding: 0 25px;
    }
}
@media only screen and (max-width:1044px) and (min-width:1026px) {
    .sitewide_resources .resources-content .join-acs {
        min-height: 360px;
    }
    .content.journal-home .sitewide_resources .resources-container {
        padding: 0 25px;
    }
}
@media only screen and (max-width:1025px) and (min-width:768px) {
    .sitewide_resources { 
        background: transparent; 
    }
    .sitewide_resources .resources-container { 
        background: #EAEAEA; 
    }
}
@media only screen and (max-width:500px) {
    .sitewide_resources {
        padding-bottom: 10px;
    }
    .sitewide_resources .resources-content .resources-items .item {
        min-height: 290px;
    }
    .sitewide_resources .resources-content .join-acs {
        padding-bottom: 10px;
    }
}

/* journal-home_resources section */
/*.content.journal-home .journal-home_resources {
    width: 100%;
    background-color: #D9D9D9;
    color: #000;
    margin: 10px 0 6px 0;
}
.content.journal-home .journal-home_resources h2 {
    margin-top: 7px;
}
.content.journal-home .journal-home_resources .item {
    display: block;
    width: 100%;
    min-height: 190px;
    background: #fff;
    color: #255BA5;
    margin: 0 auto 10px auto;
    text-align: center;
    font-weight: bold;
    padding: 25px 15px;
    border: 1px solid #ccc;
}
.content.journal-home .journal-home_resources .description {
    font-weight: normal;
    font-size: .9em;
    margin: 7px auto;
}
.content.journal-home .journal-home_resources a {
    color: #255BA5;
}*/

/* journal-home_connect section */
/*.content.journal-home .journal-home_connect {
    color: #255BA5;
}
.content.journal-home .journal-home_connect h2 {
    margin-top: 5px;
}
.content.journal-home .journal-home_connect hr {
    border: 1px solid #255BA5;
}
.content.journal-home .journal-home_connect .item {
    display: block;
    height: auto;
    background: transparent;
    color: #255BA5;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding: 0;
}
.content.journal-home .journal-home_connect a {
    color: #255BA5;
    line-height: 0;
}*/

/* journal-home_video section */
.content.journal-home .journal-home_video {
    width: 100%;
    background: #285da3;
    background: -webkit-linear-gradient(to right, #3D464D 25%, #3D464D 70%, #727579 );
    background: linear-gradient(to right, #3D464D 25%, #3D464D 70%, #727579 );
    color: #fff;
    padding-top: 20px;
    margin: 10px 0;
}
.content.journal-home .journal-home_video .journal-home_section {
    background: transparent;
}
.content.journal-home .journal-home_video .feature-video {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #3D464D;
}
.content.journal-home .journal-home_video .feature-video iframe {
    border: none;
}
.content.journal-home .journal-home_video .collection-title {
    margin-bottom: 4px;
}
.content.journal-home .journal-home_video .collection-description {
    margin: 0 0 10px 0;
}
.content.journal-home .journal-home_video h4 {
    margin-bottom: 7px;
}
.content.journal-home .journal-home_video a {
    color: #e7e7e7;
    font-weight: bold;
    text-decoration: underline;
}
.content.journal-home .journal-home_video .journal-home_section > div {
    padding-bottom: 1.5rem;
}
.content.journal-home .journal-home_video .caption:not(:first-of-type) {
    display: none;
}
@media (max-width: 1024px) {
    .content.journal-home .journal-home_video .journal-home_section > div {
        padding-bottom: 0;
    }
    .content.journal-home .journal-home_video .caption {
        display: none;
    }
}

/* journal-home_openaccess section */
.content.journal-home .journal-home_openaccess {
    width: 100%;
    background: #24579E;
    color: #FFCD34;
    clear: both;
    /*margin-bottom: 10px;*/
}
.content.journal-home .journal-home_openaccess .journal-home_section {
    background: transparent;
    margin: 15px 0 15px 60px;
}
.content.journal-home .journal-home_openaccess h2 {
    border-left: 6px solid #fff;
    padding: 6px 0 6px 15px;
}
.content.journal-home .journal-home_openaccess a {
    color: #FFCD34;
}
@media (max-width: 767px) {
    .content.journal-home .journal-home_openaccess .journal-home_section {
        margin: 15px 0;
    }
    .content.journal-home .journal-home_openaccess h2 {
        border-left: 10px solid #fff;
        padding: 6px 0 6px 15px;
        font-size: 2.25em;
        line-height: 1.25em;
    }
}

/* journal-home announcements section */
.content.journal-home .announcements {
    text-align: center;
}

/* journal-home call for papers section */
.content.journal-home .call-for-papers {
    background: #255BA5;
    color: #fff;
    padding: 50px 80px;
    margin: 3px 0 10px 0;
}
.content.journal-home .call-for-papers h2, .content.journal-home .call-for-papers h3 {
    border-left: 6px solid #FFCD34;
    padding: 6px 0 6px 15px;
}
.content.journal-home .call-for-papers h2 {
    font-size: 2.5em;
    line-height: 1em;
}
.content.journal-home .call-for-papers p:first-of-type {
    margin-top: 0;
}
.content.journal-home .call-for-papers .submission-link {
    margin: 20px auto 25px auto;
    width: 60%;
}
.content.journal-home .call-for-papers .submission-link .button-link {
    font-size: 1.1em;
    color: #255BA5;
    padding: 12px 0;
}
.content.journal-home .call-for-papers .announcement-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.85em;
}
.content.journal-home .call-for-papers .announcement-list li {
    display: inline-block;
    border-left: 1px solid #fff;
    padding: 6px 10px;
}
.content.journal-home .call-for-papers .announcement-list a {
    color: #fff;
}
.content.journal-home .call-for-papers .announcement-list a .icon {
    color: #FFCD34;
    padding-right: 6px;
}
@media (max-width: 1024px) {
    .content.journal-home .call-for-papers {
        padding: 25px;
    }
    .content.journal-home .call-for-papers p {
        margin: 35px 30px 10px 30px;
    }
    .content.journal-home .call-for-papers .announcement-list li {
        border: none;
    }        
}

/* journal home connect */
.content.journal-home .connect_section, .content.homepage .connect_section {
    background: #fecc46;
    color: #285da3;
    font-family: Roboto,arial,sans-serif;
    padding: 20px 0 10px 0;
    margin: 0 0 15px 0;
    clear: both;
}
.content.journal-home .connect_section {
    margin: 0;
}
.content.journal-home .connect_section .connect-social {}
.content.journal-home .connect_section .connect-apps, .content.homepage .connect_section .connect-apps {
    padding-top: 15px;
}
.content.journal-home .connect_section .item, .content.homepage .connect_section .item {
    display: block;
    width: 100%;
    color: #255BA5;
    margin: 0 auto 10px auto;
    text-align: center;
    font-weight: bold;
    line-height: .25em;
}
.content.journal-home .connect_section .description, .content.homepage .connect_section .description {
    font-weight: normal;
    font-size: .9em;
    margin: 7px auto;
}
.content.journal-home .connect_section .connect-header, .content.homepage .connect_section .connect-header {
    padding-right: 10px;
}
.content.journal-home .connect_section .connect-message, .content.homepage .connect_section .connect-message {
    padding-right: 45px;
}
.content.journal-home .connect_section a, .content.homepage .connect_section a {
    color: #255BA5;
}
.content.journal-home .connect_section h2, .content.homepage .connect_section h2 {
    margin: 0 0 9px 0;
    font-size: 1.75rem;
    line-height: 1.2em;
    border-left: 6px solid #285da3;
    padding: 6px 0 6px 9px;
}
.content.journal-home .connect_section h3, .content.homepage .connect_section h3 {
    margin-bottom: 6px;
}
.content.journal-home .connect_section p, .content.homepage .connect_section p {
    margin: 0 0 9px 0;
    font-family: Roboto, Regular;
}
.content.journal-home .connect_section .connect-btn, .content.homepage .connect_section .connect-btn {
    background: #285da3;
    width: 90%;
    display: block;
    box-shadow: 0 6px 6px rgba(0,0,0,.16);
    margin: 0 auto;
}
@media only screen and (max-width:1267px) and (min-width:1025px) {
    .content.journal-home .connect_section .connect-header, .content.homepage .connect_section .connect-header { width: 33%; }
    .content.journal-home .connect_section .connect-message, .content.homepage .connect_section .connect-message { 
        width: 66%;
        padding-right: 0;
    }
    .content.journal-home .connect_section .connect-social, .content.homepage .connect_section .connect-social { width: 70%; }
    .content.journal-home .connect_section .connect-apps, .content.homepage .connect_section .connect-apps { 
        width: 30%;
        padding-top: 26px;
    }
}
@media only screen and (max-width:1024px) {
    .content.journal-home .connect_section .connect-message, .content.homepage .connect_section .connect-message { 
        padding-right: 0;
    }
}
@media only screen and (min-width:1268px) {
    .content.homepage .connect_section .col-xs-12.px-5 { padding: 0; }
    .content.homepage .connect_section .connect-header { width: 22%; }
    .content.homepage .connect_section .connect-message { 
        width: 20%; 
        padding-right: 20px;
    }
    .content.homepage .connect_section .connect-social { width: 33%; }
    .content.journal-home .connect_section .connect-header { width: 20%; }
    .content.journal-home .connect_section .connect-message { width: 30%; }
}

/* journal-home hero image */
.content.journal-home .hero-image-container {
    margin: 10px 0;
}
.content.journal-home .hero-image {
    width: 100%;
    height: 360px;
    background-size: cover;
    padding: 25px 35px;
    overflow: hidden;
}
.content.journal-home .hero-image .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(255,255,255,.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.content.journal-home .hero-image .title {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #000;
    margin-bottom: 15px;
    position: relative;
}
.content.journal-home .hero-image .authors {
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 1px 1px #000;
    margin-bottom: 15px;
    position: relative;
}
.content.journal-home .hero-image .synopsis {
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px #000;
    margin-bottom: 15px;
    position: relative;
}
.content.journal-home .hero-image .read-more {
    border: 3px solid white;
    position: absolute;
    bottom: 25px;
    right: 70px;
    background: rgba(0,0,0,.55);
    border-radius: 6px;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 15px;
    min-width: 150px;
}
.content.journal-home .hero-image .read-more-text {
    font-size: 1.25rem;
    color: white;
    text-shadow: 1px 1px #000;
    position: relative;
}
@media (max-width: 1072px) {
    .content.journal-home .hero-image .title {
        font-size: 1.75rem;
    }
    .content.journal-home .hero-image .authors {
        font-size: 1rem;
    }
    .content.journal-home .hero-image .synopsis {
        font-size: .9rem;
    }
}
@media (max-width: 1024px) {
    .content.journal-home .hero-image .title {
        font-size: 1.5rem;
    }
}
@media (max-width: 920px) {
    .content.journal-home .hero-image .title {
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .content.journal-home .hero-image .authors {
        line-height: 1.2rem;
    }
    .content.journal-home .hero-image .synopsis {
        line-height: 1.2rem;
    }
}
@media (max-width: 440px) {
    .content.journal-home .hero-image .read-more {
        right: 46px;
    }
}


/* journal-home C&EN / ACS Axial feed */
.content.journal-home .cenge_wrap {
    display: none;
}
.content.journal-home .cenge_wrap .widget-rss-reader {
    display: none;
}
.content.journal-home .cen-header {
    height: 33px;
    /*margin-bottom: 10px;*/
}
.content.journal-home .cen-header img {
    max-width: 62px;
    margin-left: 15px;
}
.content.journal-home .cen-header hr {
    border-bottom: 0;
    width: 100%;
    display: inline-block;
    margin-left: -14px;
    border-color: darkgray;
    vertical-align: middle;
    margin-bottom: 24px;
}
.content.journal-home [class^="cen-item-"] {
    height: 250px;
    /*width: 320px;*/
    border: 1px solid #95989A;
    padding: 14px 12px;
    position: relative;
    box-sizing: border-box;
    font-family: Georgia, serif;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
    background-color: white;
}
.content.journal-home [class^="cen-item-"]:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.noImage {
    background: #e92b34;
}
.content.journal-home [class^="cen-item-"] a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: white;
    font-weight: bold;
}
.content.journal-home [class^="cen-item-"] p {
    margin: 0;
    height: 90%;
    font-size: 16px;
    color: black;
    height: 200px;
    padding-top: 10px;
}
.content.journal-home [class^="cen-item-"] p {
    color: black;
    font-weight: bold;
    height: 25%;
}
.content.journal-home .cen_img_wrap {
    text-align: center;
    max-height: 80%;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    max-height: 80%;
    max-width: 100%;
    height: 300px;
}
.content.journal-home .cen_box-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    text-align: right;
}
.content.journal-home .cen_box-bottom img {
    max-width: 48px;
    margin-right: 14px;
    margin-bottom: 8px;
}
.content.journal-home .cen-item-1.no-image {
    background: #DD5457;
}
.content.journal-home .cen-item-2.no-image {
    background: #00A2E0;
}
.content.journal-home .cen-item-3.no-image {
    background: #3460B4;
}
.content.journal-home .cen-item-4.no-image {
    background: #3ECAC1;
}
.content.journal-home [class^="cen-item-"].no-image p {
    padding-top: 0px;
    font-size: 24px;
    line-height: 36px;
    color: white;
}
.content.journal-home .cen-img-wrap {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 100%;
    border: 1px solid lightgray;
}
@media only screen and (max-width: 1368px) {
    .content.journal-home .cen-header hr {
        width: 98%;
        margin-left: 4px;
    }
}
@media only screen and (max-width: 1025px) {
    .content.journal-home [class^="cen-item-"] a {
        font-size: 22px;
    }
    .content.journal-home .cen-header hr {
        width: 90%;
        margin-left: 40px;
    }
}
@media screen and (max-width: 767px) {
    .content.journal-home [class^="cen-item-"] {
        height: 150px;
    }
    .content.journal-home [class^="cen-item-"] div {
        width: 25%;
        display: inline-block;
        float: left;
        margin-right: 4px;
    }
    .content.journal-home [class^="cen-item-"] p {
        display: inline-block;
        width: 70%;
        float: right;
    }
    .content.journal-home [class^="cen-item-"].no-image p {
        width: 100%;
    }
}
@media screen and (max-width: 580px) {
    .content.journal-home .cen-header hr {
        width: 76%;
        margin-left: 66px;
    }
}
@media only screen (min-width: 1024px) and (max-width: 1368px) {
    .content.journal-home [class^="cen-item-"] p {
        font-size: 20px;
    }
}

.content.journal-home .axial_feed {
    display: none;
}
.content.journal-home .axial_feed .widget-rss-reader {
    display: none;
}
.content.journal-home .axial-header {
    height: 22px;
    margin-bottom: 10px;
}
.content.journal-home .axial-header img {
    max-width: 62px;
    margin-left: 15px;
    /*float: left;*/
}
.content.journal-home .axial-header hr {
    border-bottom: 0;
    width: 100%;
    display: inline-block;
    margin-left: -14px;
    border-color: darkgray;
    vertical-align: middle;
}
.content.journal-home [class^="axial-item-"] {
    height: 250px;
    /*width: 320px;*/
    border: 1px solid #95989A;
    padding: 14px 12px;
    position: relative;
    box-sizing: border-box;
    font-family: Georgia, serif;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
    background-color: white;
}
.content.journal-home [class^="axial-item-"]:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.content.journal-home [class^="axial-item-"] a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: white;
    font-weight: bold;
}
.content.journal-home [class^="axial-item-"] p {
    margin: 0;
    height: 90%;
    font-size: 16px;
    color: black;
    height: 200px;
    padding-top: 10px;
}
.content.journal-home .axial_box-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    text-align: right;
}
.content.journal-home .axial_box-bottom img {
    max-width: 70px;
    margin-right: 14px;
    margin-bottom: 2px;
}
.content.journal-home .axial-item-1.no-image {
    background: #DD5457;
}
.content.journal-home .axial-item-2.no-image {
    background: #00A2E0;
}
.content.journal-home .axial-item-3.no-image {
    background: #3460B4;
}
.content.journal-home .axial-item-4.no-image {
    background: #3ECAC1;
}
.content.journal-home [class^="axial-item-"].no-image p {
    padding-top: 0px;
    font-size: 24px;
    line-height: 36px;
    color: white;
}
.content.journal-home .ax-img-wrap {
    background-position: center;
    background-size: 100%;
    /*contain;*/
    background-repeat: no-repeat;
    height: 120px;
    width: 100%;
    border: 1px solid lightgray;
}
@media only screen and (max-width: 1368px) {
    .content.journal-home .axial-header hr {
        width: 98%;
        margin-left: 4px;
    }
}
@media only screen and (max-width: 1025px) {
    .content.journal-home [class^="axial-item-"] a {
        font-size: 22px;
    }
    .content.journal-home .axial-header hr {
        width: 90%;
        margin-left: 40px;
    }
}
@media screen and (max-width: 767px) {
    .content.journal-home [class^="axial-item-"] {
        height: 150px;
    }
    .content.journal-home [class^="axial-item-"] div {
        width: 25%;
        display: inline-block;
        float: left;
        margin-right: 4px;
    }
    .content.journal-home [class^="axial-item-"] p {
        display: inline-block;
        width: 70%;
        float: right;
    }
    .content.journal-home [class^="axial-item-"].no-image p {
        width: 100%;
    }
}
@media screen and (max-width: 580px) {
    .content.journal-home .axial-header hr {
        width: 76%;
        margin-left: 66px;
    }
}
@media only screen (min-width: 1024px) and (max-width: 1368px) {
    .content.journal-home [class^="axial-item-"] p {
        font-size: 20px;
    }
}

/* axial feed infocentral */
.content.infocentral .axial_feed {
    display: none;
}
.content.infocentral .axial_feed .widget-rss-reader {
    display: none;
}
.content.infocentral .axial-header {
    height: 22px;
    margin-bottom: 10px;
}
.content.infocentral .axial-header img {
    max-width: 62px;
    margin-left: 15px;
    /*float: left;*/
}
.content.infocentral .axial-header hr {
    border-bottom: 0;
    width: 100%;
    display: inline-block;
    margin-left: -14px;
    border-color: darkgray;
    vertical-align: middle;
}
.content.infocentral [class^="axial-item-"] {
    height: 250px;
    /*width: 320px;*/
    border: 1px solid #95989A;
    padding: 14px 12px;
    position: relative;
    box-sizing: border-box;
    font-family: Georgia, serif;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
    background-color: white;
}
.content.infocentral [class^="axial-item-"]:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.content.infocentral [class^="axial-item-"] a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: white;
    font-weight: bold;
}
.content.infocentral [class^="axial-item-"] p {
    margin: 0;
    height: 90%;
    font-size: 16px;
    color: black;
    height: 200px;
    padding-top: 10px;
}
.content.infocentral .axial_box-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    text-align: right;
}
.content.infocentral .axial_box-bottom img {
    max-width: 70px;
    margin-right: 14px;
    margin-bottom: 2px;
}
.content.infocentral .axial-item-1.no-image {
    background: #DD5457;
}
.content.infocentral .axial-item-2.no-image {
    background: #00A2E0;
}
.content.infocentral .axial-item-3.no-image {
    background: #3460B4;
}
.content.infocentral .axial-item-4.no-image {
    background: #3ECAC1;
}
.content.infocentral [class^="axial-item-"].no-image p {
    padding-top: 0px;
    font-size: 24px;
    line-height: 36px;
    color: white;
}
.content.infocentral .ax-img-wrap {
    background-position: center;
    background-size: 100%;
    /*contain;*/
    background-repeat: no-repeat;
    height: 120px;
    width: 100%;
    border: 1px solid lightgray;
}
@media only screen and (max-width: 1368px) {
    .content.infocentral .axial-header hr {
        width: 98%;
        margin-left: 4px;
    }
}
@media only screen and (max-width: 1025px) {
    .content.infocentral [class^="axial-item-"] a {
        font-size: 22px;
    }
    .content.infocentral .axial-header hr {
        width: 90%;
        margin-left: 40px;
    }
}
@media screen and (max-width: 767px) {
    .content.infocentral [class^="axial-item-"] {
        height: 150px;
    }
    .content.infocentral [class^="axial-item-"] div {
        width: 25%;
        display: inline-block;
        float: left;
        margin-right: 4px;
    }
    .content.infocentral [class^="axial-item-"] p {
        display: inline-block;
        width: 70%;
        float: right;
    }
    .content.infocentral [class^="axial-item-"].no-image p {
        width: 100%;
    }
}
@media screen and (max-width: 580px) {
    .content.infocentral .axial-header hr {
        width: 76%;
        margin-left: 66px;
    }
}
@media only screen (min-width: 1024px) and (max-width: 1368px) {
    .content.infocentral [class^="axial-item-"] p {
        font-size: 20px;
    }
}

/*
.content.journal-home .widget-rss-reader {
    display: none;
}

.content.journal-home .cen-header, .content.journal-home .axial-header {
    margin-bottom: 10px;
    position: relative;
    clear: both;
}
.content.journal-home .cen-header {
    height: 30px;
}
.content.journal-home .axial-header {
    margin-top: 10px;
    height: 21px;
}
.content.journal-home .cen-header img, .content.journal-home .axial-header img {
    background-color: #F7F7F7;
    padding-right: 15px;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}

.content.journal-home .axial-header hr, .content.journal-home .cen-header hr {
    border-bottom: 0;
    width: 90%;
    display: inline-block;
    border-color: darkgray;
    position: absolute;
    right: 0;
}
.content.journal-home .cen-header hr {
    top: 6px;
}
.content.journal-home .axial-header hr {
    top: 3px;
}

.content.journal-home [class^="axial-item-"], .content.journal-home [class^="cen-item-"] { 
    height: 240px;
    border: 1px solid lightgray;
    padding: 20px 16px;
    position: relative;
    box-sizing:border-box; 
    font-family: Georgia, serif;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.content.journal-home [class^="axial-item-"]:hover, .content.journal-home [class^="cen-item-"]:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

.content.journal-home .noImage {
    background: #e92b34;
}

.content.journal-home [class^="axial-item-"] a {
    display: inline-block;
    width:100%;
    height:100%;
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.content.journal-home [class^="cen-item-"] a {
    display: inline-block;
    width:100%;
    height:100%;
}

.content.journal-home [class^="axial-item-"] p {
    margin: 0;
    height: 90%;
    font-size: 22px;
}

.content.journal-home [class^="cen-item-"] p {
    color: black;
    font-weight: bold;
    height: 25%;
}

.content.journal-home .cen_img_wrap {
    text-align: center;
    max-height: 80%;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    max-height: 80%;
    max-width: 100%;
    height: 300px;
}

.content.journal-home .cen_img_wrap img {
    max-width: 80%;
    height: auto;
}

.content.journal-home .has_cen_Image {
    margin: 0;
    margin-top: 10px;
}

.content.journal-home .no_cen_Image{
    margin: 0;
    height: 90%;
    font-size: 26px !important;
    color: white !important;
}

.content.journal-home .axial_box-bottom, .content.journal-home .cen_box-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    text-align: right;
}

.content.journal-home .axial_box-bottom img {
    max-width: 70px;
    margin-right: 14px;
    margin-bottom: 2px;
}

.content.journal-home .cen_box-bottom img {
    max-width: 48px;
    margin-right: 14px;
    margin-bottom: 8px;
}

.content.journal-home .axial-item-1 {
    background: #DD5457;
}

.content.journal-home .axial-item-2 {
    background: #00A2E0;
}

.content.journal-home .axial-item-3 {
    background: #3460B4;
}

.content.journal-home .axial-item-4 {
    background: #3ECAC1;
}

@media only screen and (max-width:1367px) and (min-width:1025px) {
    .content.journal-home [class^="axial-item-"] p {
        font-size: 19px;
    }
}

@media only screen and (max-width: 1025px) {
    .content.journal-home [class^="axial-item-"] a {
        font-size: 22px;
    }

    .content.journal-home .no_cen_Image {
        font-size: 22px;
    }
}

@media only screen and (max-width: 767px) {
    .content.journal-home .cen_img_wrap img {
        max-width: 80%;
    }
}
*/

/* Advertisements */
.advertisement {
    text-align: center;
    font-size: .65em;
    padding: 15px 0;
    background-color: #F7F9FF;
}
.advertisement a, .advertisement a:hover {
    color: #999;
}
.advertisement .advertisement-link {
    margin-bottom: 6px;
}
.article_header .advertisement {
    margin: -25px auto 25px auto;
    overflow-x: auto;
}
.rightColAdvertisement {
    margin: 0 auto;
    text-align: center;
}
/* advertisement drop zone */
.teaser_advDropZone {
    border-top-color: #0054A6;
    background-color: #F7F9FF;
    width: 360px !important;
    text-align: center;
}
.teaser_advDropZone .advertisement {
    padding: 2px 0;
}
/* c&en global enterprise advertisement */
.content.cen-hp .advertisement {
    margin-bottom: 10px;
}

/* article list advertisements */
.advertisement-container-toc {
  clear: both;
  border-top: 2px solid #efefef;
  margin: 35px 20px -40px 20px;
  overflow-x: auto;
}
.advertisement-container-toc .issue-item {
  border-top: none;
}
.content.search-result .advertisement-container-toc {
  margin: 20px 0 -20px 0;
}
@media (max-width: 767px) {
  .advertisement-container-toc { 
    margin-left: 0;
    margin-right: 0;
  }
}

/* ad space initial hidden state */
.content.homepage .teaser_advDropZone, .content.journal-home .teaser_advDropZone, .content.journal-home .advertisement, .content.cen-hp .advertisement, .content.article .advertisement { display: none; }
.content.journal-home .teaser_advDropZone.ntvCard, .content.homepage .teaser_advDropZone.ntvCard { display: block; }
.content.toc .advertisement-container-toc, .content.asap .advertisement-container-toc, .content.jams .advertisement-container-toc, .content.search-result .advertisement-container-toc { display: none; }
.content.editorschoice .issue-item_adv-dropzone,  { display: none; }
/*.content.journal-home .teaser_advDropZone {
    margin-left: -380px;
    z-index: -1;
    margin-left: 0;
    z-index: auto;
}*/

/* journal home news section */
.journal-news {
    background: #ededed;
    padding: 40px;
    margin-top: 30px;
}
.journal-news-col {
    min-height: 480px;
    padding: 0 10px;
}
.journal-news-col .axial-recent-list, .journal-news-col .cgeabj-recent, .journal-news-col .cen-latest-news {
    background: #000;
    color: #fff;
    min-height: 495px;
    padding: 20px;
}
.journal-news-col .axial-recent-list .axial-logo {
    background: #00a2e0;
    width: 100%;
    text-align: center;
    padding: 53px 0;
    margin-bottom: 5px;
}
.journal-news-col .rss-body a {
    color: #fff;
}
.journal-news-col .rss-body .title {
    font-size: 1.5em;
    text-align: center;
    display: none;
}
.journal-news-col .rss-body .titleHR {
    display: none;
}
.journal-news-col hr {
    margin: 20px 0;
    border-top: 1px solid #fff;
}
.journal-news-col .rss-body .widget-rss-reader .listOfPublications {
    padding-left: 0;
}
.journal-news-col .rss-body .widget-rss-reader .listOfPublications li {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.journal-news-col .rss-body .widget-rss-reader .listOfPublications li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.journal-news-col .rss-body .widget-rss-reader .listOfPublications a {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}
.journal-news-col .rss-body .widget-rss-reader .published {
    font-size: .9em;
    margin: 11px 0;
}
.journal-news-col .rss-body .widget-rss-reader .content p {
    margin-top: 3px;
    font-family: serif;
    font-size: 1.15em;
    line-height: 1.35em;“
}
.journal-news-col #axial-list h3, .journal-news-col #cgeabj-recent-list h3, .journal-news-col #cen-latest-news-list h3 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}
.journal-news-col .cgeabj-recent-item, .journal-news-col .cen-latest-news-item {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.journal-news-col .cgeabj-recent-item:first-of-type, .journal-news-col .cen-latest-news-item:first-of-type {
    padding-top: 0;
}
.journal-news-col .cgeabj-recent-item:last-child, .journal-news-col .cen-latest-news-item:last-child {
    border-bottom: none;
    padding-bottom: 15px;
} 
.journal-news-col .cgeabj-recent-item .thumbnail, .journal-news-col .cen-latest-news-item .thumbnail {
    display: block;
    width: 100%;
    height: 160px;
    overflow: hidden;
    margin-bottom: 5px;
    text-align: center;
}
.journal-news-col .cgeabj-recent-item .thumbnail img, .journal-news-col .cen-latest-news-item .thumbnail img {
}
.journal-news-col .cgeabj-recent-item .title, .journal-news-col .cen-latest-news-item .title {
    font-size: 1.3em;
    color: #fff;
}
.journal-news-col .cgeabj-recent-item .itemLink, .journal-news-col .cen-latest-news-item .itemLink {
    margin-top: 5px;
    text-align: right;
}
.journal-news-col .axial-recent-list .itemLink {
    margin-top: 25px;
    text-align: right;
}
.journal-news-col .cgeabj-recent-item .button-link, .journal-news-col .cen-latest-news-item .button-link, .journal-news-col .axial-recent-list .button-link {
    display: inline-block;
    color: #000;
    background: #fff;
    padding:5px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: .85em;
}
.journal-news-col .cgeabj-recent-item .button-link, .journal-news-col .cen-latest-news-item .button-link:hover, .journal-news-col .axial-recent-list .button-link:hover {
    color: #000;
}
@media (max-width: 1026px) {
    .journal-news {
        padding: 20px 10px;
    }
}


/* infocentral */
.content.infocentral .infocentral_navigation {
    width: 100%;
    margin-bottom: 15px;
}
.content.infocentral .infocentral_navigation .main-nav {
    background: #fff;
    border-bottom: 4px solid #FFCE34;
}
.content.infocentral .infocentral_navigation #main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.content.infocentral .infocentral_navigation #main-nav-list .item {
    background: #0039a6;
    color: #fff;
    padding: 6px 0;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    flex-grow: 1;
    border-right: 1px solid #f7f7f7;
}
.content.infocentral .infocentral_navigation #main-nav-list .item:last-child {
    border-right: none;
}
.content.infocentral .infocentral_navigation #main-nav-list .item:hover {
    color: #FFCE34;
}
@media (max-width: 767px) {
    .content.infocentral .infocentral_navigation #main-nav-list {
        flex-direction: column;
    }
    .content.infocentral .infocentral_navigation #main-nav-list .item {
        border-right: none;
        border-bottom: 1px solid #f7f7f7;
        padding: 8px 0;
    }
    .content.infocentral .infocentral_navigation #main-nav-list .item:last-child {
        border-bottom: none;
    }
}
.content.infocentral .product-item {
    float: none;
}
.content.infocentral .product-item::after {
    content: "";
    clear: both;
    display: block;
}
.content.infocentral .product-item + h3 {
    margin-top: 25px;
}
.content.infocentral .product-item img {
    margin-top: 15px;
}
.content.infocentral .product-item  h4 {
    margin-top: 10px;
}
.content.infocentral #researchtools + hr + .product-item  {
    margin-bottom: 7px;
}
.content.infocentral .infocentral-sideBox {
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px #eee;
}
.content.infocentral .infocentral-sideBox .inner {
    padding: 10px 20px;
}
.content.infocentral .infocentral-sideBox h2 {
    margin: 5px 0 10px 0;
    font-size: 1.25em;
}
.content.infocentral .infocentral-sideBox p, .content.infocentral .infocentral-sideBox li{
    font-size: 0.9em;
}
.content.infocentral .infocentral-sideBox ol, .content.infocentral .infocentral-sideBox ul {
    padding: 0;
    margin: 10px 0px 15px 15px !important;
}
.content.infocentral .infocentral-sideBox ul {
    list-style-type: none;
}
.content.infocentral .infocentral-sideBox ul li {
    position: relative;
    margin-left: 0;
    padding-left: 5px;
}
.content.infocentral .infocentral-sideBox ul li:before {
    content: '\02022';
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: -10px;
    top: -4px;
}

/* cenge */
main.cen-custom {
    margin-top: 150px;
}
.header-CandEN {
    z-index: 100;
}
/*.cen-hp-topSection {
    margin-top: 275px;
}*/
/*.header-CandEN {
    position: relative;
}*/

#e-Alert-btn {
    visibility: collapse;
}
#e-Alert-connect-btn, #e-alert-list-btn {
    display: none;
}

/* acs reagent chemicals */
.reagents-member-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.reagents-member-list p {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 0 0 10px 0;
}
@media (max-width: 500px) { 
    .reagents-member-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}


/* journal ASAP logo */
.ajcHeader_left {   
    width: calc(100% - 308px);
}
 
.ajcHeader_right {
    width: 308px;
}
 
.ajcHeader_right img {
    max-width: 308px;
}
 