

#aggregator .feed-source .feed-title{margin-top:0;}#aggregator .feed-source .feed-image img{margin-bottom:0.75em;}#aggregator .feed-source .feed-icon{float:right;display:block;}#aggregator .feed-item{margin-bottom:1.5em;}#aggregator .feed-item-title{margin-bottom:0;font-size:1.3em;}#aggregator .feed-item-meta,#aggregator .feed-item-body{margin-bottom:0.5em;}#aggregator .feed-item-categories{font-size:0.9em;}#aggregator td{vertical-align:bottom;}#aggregator td.categorize-item{white-space:nowrap;}#aggregator .categorize-item .news-item .body{margin-top:0;}#aggregator .categorize-item h3{margin-bottom:1em;margin-top:0;}



.field .field-label,.field .field-label-inline,.field .field-label-inline-first{font-weight:bold;}.field .field-label-inline,.field .field-label-inline-first{display:inline;}.field .field-label-inline{visibility:hidden;}.node-form .content-multiple-table td.content-multiple-drag{width:30px;padding-right:0;}.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{padding-right:.5em;}.node-form .content-add-more .form-submit{margin:0;}.node-form .number{display:inline;width:auto;}.node-form .text{width:auto;}.form-item #autocomplete .reference-autocomplete{white-space:normal;}.form-item #autocomplete .reference-autocomplete label{display:inline;font-weight:normal;}#content-field-overview-form .advanced-help-link,#content-display-overview-form .advanced-help-link{margin:4px 4px 0 0;}#content-field-overview-form .label-group,#content-display-overview-form .label-group,#content-copy-export-form .label-group{font-weight:bold;}table#content-field-overview .label-add-new-field,table#content-field-overview .label-add-existing-field,table#content-field-overview .label-add-new-group{float:left;}table#content-field-overview tr.content-add-new .tabledrag-changed{display:none;}table#content-field-overview tr.content-add-new .description{margin-bottom:0;}table#content-field-overview .content-new{font-weight:bold;padding-bottom:.5em;}.advanced-help-topic h3,.advanced-help-topic h4,.advanced-help-topic h5,.advanced-help-topic h6{margin:1em 0 .5em 0;}.advanced-help-topic dd{margin-bottom:.5em;}.advanced-help-topic span.code{background-color:#EDF1F3;font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;font-size:0.9em;padding:1px;}.advanced-help-topic .content-border{border:1px solid #AAA}




.filefield-icon{margin:0 2px 0 0;}.filefield-element{margin:1em 0;white-space:normal;}.filefield-element .widget-preview{float:left;padding:0 10px 0 0;margin:0 10px 0 0;border-width:0 1px 0 0;border-style:solid;border-color:#CCC;max-width:30%;}.filefield-element .widget-edit{float:left;max-width:70%;}.filefield-element .filefield-preview{width:16em;overflow:hidden;}.filefield-element .widget-edit .form-item{margin:0 0 1em 0;}.filefield-element input.form-submit,.filefield-element input.form-file{margin:0;}.filefield-element input.progress-disabled{float:none;display:inline;}.filefield-element div.ahah-progress,.filefield-element div.throbber{display:inline;float:none;padding:1px 13px 2px 3px;}.filefield-element div.ahah-progress-bar{display:none;margin-top:4px;width:28em;padding:0;}.filefield-element div.ahah-progress-bar div.bar{margin:0;}




.block-nice_menus{line-height:normal;z-index:10;}ul.nice-menu,ul.nice-menu ul{z-index:5;position:relative;}ul.nice-menu li{position:relative;}ul.nice-menu a{display:block;}ul.nice-menu ul,#header-region ul.nice-menu ul{position:absolute;visibility:hidden;}ul.nice-menu li.over ul{visibility:visible;}ul.nice-menu ul li{display:block;}ul.nice-menu:after{content:".";display:block;height:0;clear:both;visibility:hidden;}ul.nice-menu li:hover ul,ul.nice-menu li.menuparent li:hover ul,ul.nice-menu li.menuparent li.menuparent li:hover ul,ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul,ul.nice-menu li.over ul,ul.nice-menu li.menuparent li.over ul,ul.nice-menu li.menuparent li.menuparent li.over ul,ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul,#header-region ul.nice-menu li:hover ul,#header-region ul.nice-menu li.menuparent li:hover ul,#header-region ul.nice-menu li.menuparent li.menuparent li:hover ul,#header-region ul.nice-menu li.over ul,#header-region ul.nice-menu li.menuparent li.over ul,#header-region ul.nice-menu li.menuparent li.menuparent li.over ul{visibility:visible;}ul.nice-menu li:hover ul ul,ul.nice-menu li:hover ul ul ul,ul.nice-menu li:hover li:hover ul ul,ul.nice-menu li:hover li:hover ul ul ul,ul.nice-menu li:hover li:hover li:hover ul ul,ul.nice-menu li:hover li:hover li:hover ul ul ul,ul.nice-menu li.over ul ul,ul.nice-menu li.over ul ul ul,ul.nice-menu li.over li.over ul ul,ul.nice-menu li.over li.over ul ul ul,ul.nice-menu li.over li.over li.over ul ul,ul.nice-menu li.over li.over li.over ul ul ul,#header-region ul.nice-menu li:hover ul ul,#header-region ul.nice-menu li:hover ul ul ul,#header-region ul.nice-menu li:hover li:hover ul ul,#header-region ul.nice-menu li:hover li:hover ul ul ul,#header-region ul.nice-menu li:hover li:hover li:hover ul ul,#header-region ul.nice-menu li:hover li:hover li:hover ul ul ul,#header-region ul.nice-menu li.over ul ul,#header-region ul.nice-menu li.over ul ul ul,#header-region ul.nice-menu li.over li.over ul ul,#header-region ul.nice-menu li.over li.over ul ul ul,#header-region ul.nice-menu li.over li.over li.over ul ul,#header-region ul.nice-menu li.over li.over li.over ul ul ul{visibility:hidden;}ul.nice-menu li.menuparent ul,#header-region ul.nice-menu li.menuparent ul{overflow:visible !important;}ul.nice-menu li.menuparent ul iframe,#header-region ul.nice-menu li.menuparent ul iframe{display:none;display:block;position:absolute;top:0;left:0;z-index:-1;filter:mask();width:20px;height:20px;}






ul.nice-menu,ul.nice-menu ul{list-style:none;padding:0;z-index:500;}ul.nice-menu a:active{color:#fff;}ul.nice-menu a:visited{color:#fff;}ul.nice-menu li{border-top:0;float:left;padding-left:0;background-image:none;}#header-region ul.nice-menu li{margin:0;padding-top:0.1em;padding-bottom:0.1em;}ul.nice-menu a{padding:0.3em 5px 0.4em 50px;line-height:40px;font-size:.94em;text-decoration:none;color:#eee;font-weight:200;letter-spacing:0.01em;height:42px;}.nicemenu a:visited  a:active{color:#eee;}ul.nice-menu ul,#header-region ul.nice-menu ul{top:1.8em;left:-1px;border:0;margin-right:0;}#header-region ul.nice-menu ul{top:1.7em;}ul.nice-menu ul li{width:240px;margin-left:0;}ul.nice-menu-right{margin-bottom:-10px;}ul.nice-menu-right,ul.nice-menu-left,ul.nice-menu-right li,ul.nice-menu-left li{width:240px;margin-left:-26px;}ul.nice-menu-right ul{width:240px;left:240px;top:-1px;}ul.nice-menu-right ul ul{width:240px;left:240px;top:-1px;}ul.nice-menu-right li.menuparent,ul.nice-menu-right li li.menuparent{background:#eee url(/sites/all/themes/everhooddesign_webguru/arrow-right.png) right center no-repeat;}ul.nice-menu-right li.menuparent:hover,ul.nice-menu-right li.over,ul.nice-menu-right li li.menuparent:hover,ul.nice-menu-right li li.over{background:#ccc url(/sites/all/themes/everhooddesign_webguru/arrow-right.png) right center no-repeat;}ul.nice-menu-left li ul{width:240px;left:-12.65em;top:-1px;}ul.nice-menu-left li ul li ul{width:240px;left:-12.65em;top:-1px;}ul.nice-menu-left li.menuparent,ul.nice-menu-left li li.menuparent{background:url(/sites/all/themes/everhooddesign_webguru/arrow-left.png) left center no-repeat;}ul.nice-menu-left li.menuparent:hover,ul.nice-menu-left li.over,ul.nice-menu-left li li.menuparent:hover,ul.nice-menu-left li li.over{background:url(/sites/all/themes/everhooddesign_webguru/img/list.png) left center no-repeat;}ul.nice-menu-left a,ul.nice-menu-left ul a{padding-left:14px;}ul#nice-menu-1,ul#nice-menu-2,ul#nice-menu-3,ul#nice-menu-4,ul#nice-menu-5,ul#nice-menu-6{margin-bottom:-10px;}ul#nice-menu-1 ul,ul#nice-menu-2 ul,ul#nice-menu-3 ul,ul#nice-menu-4  ul,ul#nice-menu-5  ul,ul#nice-menu-6  ul{border-left:2px solid #eee;}ul#nice-menu-1 ul a,ul#nice-menu-2 ul a,ul#nice-menu-3 ul a,ul#nice-menu-4 ul a,ul#nice-menu-5 ul a,ul#nice-menu-6 ul a{background:#5f5f5f;color:#fff;font-size:.9em;border-bottom:1px dotted #fff;}ul#nice-menu-1 ul a:hover,ul#nice-menu-2 ul a:hover,ul#nice-menu-3 ul a:hover,ul#nice-menu-4 ul a:hover,ul#nice-menu-6 ul a:hover{background:#5f5f5f;color:#fff;font-size:.9em;border-right:6px solid #F4A930;}ul#nice-menu-5{margin-bottom:10px}ul#nice-menu-5 ul a{background:#288aae;color:#fff;font-size:.84em;border-bottom:1px dotted #fff;}ul#nice-menu-5 ul a:hover{background:#288aae;color:#fff;font-size:.84em;border-right:6px solid #F4A930;}ul#nice-menu-1 a{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/ur.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-1 a:hover{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/ur_ro.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-2 a{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/prof.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-2 a:hover{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/prof_ro.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-3 a{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/lab.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-3 a:hover{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/lab_ro.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-4 a{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/comm.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-4 a:hover{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/comm_ro.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-5 a{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/proglisting.png) no-repeat scroll left top;color:#fff;font-size:16px;font-weight:500;letter-spacing:.03em;}ul#nice-menu-5 a:hover{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/proglisting_ro.png) no-repeat scroll left top;color:#fff;font-size:16px;font-weight:500;letter-spacing:.03em;}ul#nice-menu-6 a{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/mentor.png) no-repeat scroll left top;color:#fff;}ul#nice-menu-6 a:hover{background:url(/sites/all/themes/everhooddesign_webguru/img/mainnav/mentor_ro.png) no-repeat scroll left top;color:#fff;}


.node-unpublished{background-color:#fff4f4;}.preview .node{background-color:#ffffea;}#node-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#node-admin-buttons{float:left;margin-left:0.5em;clear:right;}td.revision-current{background:#ffc;}.node-form .form-text{display:block;width:95%;}.node-form .container-inline .form-text{display:inline;width:auto;}.node-form .standard{clear:both;}.node-form textarea{display:block;width:95%;}.node-form .attachments fieldset{float:none;display:block;}.terms-inline{display:inline;}



fieldset{margin-bottom:1em;padding:.5em;}form{margin:0;padding:0;}hr{height:1px;border:1px solid gray;}img{border:0;}table{border-collapse:collapse;}th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clear-block{display:inline-block;}/*_\*/
* html .clear-block{height:1%;}.clear-block{display:block;}/* End hide from IE-mac */




body.drag{cursor:move;}th.active img{display:inline;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}td.active{background-color:#ddd;}td.checkbox,th.checkbox{text-align:center;}tbody{border-top:1px solid #ccc;}tbody th{border-bottom:1px solid #ccc;}thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.breadcrumb{padding-bottom:.5em}div.indentation{width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;float:left;}div.tree-child{background:url(/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/misc/tree-bottom.png) no-repeat 11px center;}div.tree-child-horizontal{background:url(/misc/tree.png) no-repeat -11px center;}.error{color:#e55;}div.error{border:1px solid #d77;}div.error,tr.error{background:#fcc;color:#200;padding:2px;}.warning{color:#e09010;}div.warning{border:1px solid #f0c020;}div.warning,tr.warning{background:#ffd;color:#220;padding:2px;}.ok{color:#008000;}div.ok{border:1px solid #00aa00;}div.ok,tr.ok{background:#dfd;color:#020;padding:2px;}.item-list .icon{color:#555;float:right;padding-left:0.25em;clear:right;}.item-list .title{font-weight:bold;}.item-list ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;padding:0;list-style:disc;}ol.task-list li.active{font-weight:bold;}.form-item{margin-top:1em;margin-bottom:1em;}tr.odd .form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}tr.merge-down,tr.merge-down td,tr.merge-down th{border-bottom-width:0 !important;}tr.merge-up,tr.merge-up td,tr.merge-up th{border-top-width:0 !important;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid red;}.form-item .description{font-size:0.85em;}.form-item label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-checkboxes,.form-radios{margin:1em 0;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.marker,.form-required{color:#f00;}.more-link{text-align:right;}.more-help-link{font-size:0.85em;text-align:right;}.nowrap{white-space:nowrap;}.item-list .pager{clear:both;text-align:center;}.item-list .pager li{background-image:none;display:inline;list-style-type:none;padding:0.5em;}.pager-current{font-weight:bold;}.tips{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;}dl.multiselect dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}dl.multiselect dd.a,dl.multiselect dd.a .form-item{width:8em;}dl.multiselect dt,dl.multiselect dd{float:left;line-height:1.75em;padding:0;margin:0 1em 0 0;}dl.multiselect .form-item{height:1.75em;margin:0;}.container-inline div,.container-inline label{display:inline;}ul.primary{border-collapse:collapse;padding:0 0 0 1em;white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px solid #bbb;}ul.primary li{display:inline;}ul.primary li a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;padding:0 1em;text-decoration:none;}ul.primary li.active a{background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;}ul.primary li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}ul.secondary{border-bottom:1px solid #bbb;padding:0.5em 1em;margin:5px;}ul.secondary li{display:inline;padding:0 1em;border-right:1px solid #ccc;}ul.secondary a{padding:0;text-decoration:none;}ul.secondary a.active{border-bottom:4px solid #999;}#autocomplete{position:absolute;border:1px solid;overflow:hidden;z-index:100;}#autocomplete ul{margin:0;padding:0;list-style:none;}#autocomplete li{background:#fff;color:#000;white-space:pre;cursor:default;}#autocomplete li.selected{background:#0072b9;color:#fff;}html.js input.form-autocomplete{background-image:url(/misc/throbber.gif);background-repeat:no-repeat;background-position:100% 2px;}html.js input.throbbing{background-position:100% -18px;}html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;}html.js fieldset.collapsed *{display:none;}html.js fieldset.collapsed legend{display:block;}html.js fieldset.collapsible legend a{padding-left:15px;background:url(/misc/menu-expanded.png) 5px 75% no-repeat;}html.js fieldset.collapsed legend a{background-image:url(/misc/menu-collapsed.png);background-position:5px 50%;}* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* html.js fieldset.collapsed table *{display:inline;}html.js fieldset.collapsible{position:relative;}html.js fieldset.collapsible legend a{display:block;}html.js fieldset.collapsible .fieldset-wrapper{overflow:auto;}.resizable-textarea{width:95%;}.resizable-textarea .grippie{height:9px;overflow:hidden;background:#eee url(/misc/grippie.png) no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;}html.js .resizable-textarea textarea{margin-bottom:0;width:100%;display:block;}.draggable a.tabledrag-handle{cursor:move;float:left;height:1.7em;margin:-0.4em 0 -0.4em -0.5em;padding:0.42em 1.5em 0.42em 0.5em;text-decoration:none;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{margin-top:4px;height:13px;width:13px;background:url(/misc/draggable.png) no-repeat 0 0;}a.tabledrag-handle-hover .handle{background-position:0 -20px;}.joined + .grippie{height:5px;background-position:center 1px;margin-bottom:-2px;}.teaser-checkbox{padding-top:1px;}div.teaser-button-wrapper{float:right;padding-right:5%;margin:0;}.teaser-checkbox div.form-item{float:right;margin:0 5% 0 0;padding:0;}textarea.teaser{display:none;}html.js .no-js{display:none;}.progress{font-weight:bold;}.progress .bar{background:#fff url(/misc/progress.gif);border:1px solid #00375a;height:1.5em;margin:0 0.2em;}.progress .filled{background:#0072b9;height:1em;border-bottom:0.5em solid #004a73;width:0%;}.progress .percentage{float:right;}.progress-disabled{float:left;}.ahah-progress{float:left;}.ahah-progress .throbber{width:15px;height:15px;margin:2px;background:transparent url(/misc/throbber.gif) no-repeat 0px -18px;float:left;}tr .ahah-progress .throbber{margin:0 2px;}.ahah-progress-bar{width:16em;}#first-time strong{display:block;padding:1.5em 0 .5em;}tr.selected td{background:#ffc;}table.sticky-header{margin-top:0;background:#fff;}#clean-url.install{display:none;}html.js .js-hide{display:none;}#system-modules div.incompatible{font-weight:bold;}#system-themes-form div.incompatible{font-weight:bold;}span.password-strength{visibility:hidden;}input.password-field{margin-right:10px;}div.password-description{padding:0 2px;margin:4px 0 0 0;font-size:0.85em;max-width:500px;}div.password-description ul{margin-bottom:0;}.password-parent{margin:0 0 0 0;}input.password-confirm{margin-right:10px;}.confirm-parent{margin:5px 0 0 0;}span.password-confirm{visibility:hidden;}span.password-confirm span{font-weight:normal;}


ul.menu{list-style:none;border:none;text-align:left;}ul.menu li{margin:0 0 0 0.5em;}li.expanded{list-style-type:circle;list-style-image:url(/misc/menu-expanded.png);padding:0.2em 0.5em 0 0;margin:0;}li.collapsed{list-style-type:disc;list-style-image:url(/misc/menu-collapsed.png);padding:0.2em 0.5em 0 0;margin:0;}li.leaf{list-style-type:square;list-style-image:url(/misc/menu-leaf.png);padding:0.2em 0.5em 0 0;margin:0;}li a.active{color:#000;}td.menu-disabled{background:#ccc;}ul.links{margin:0;padding:0;}ul.links.inline{display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.block ul{margin:0;padding:0 0 0.25em 1em;}


#permissions td.module{font-weight:bold;}#permissions td.permission{padding-left:1.5em;}#access-rules .access-type,#access-rules .rule-type{margin-right:1em;float:left;}#access-rules .access-type .form-item,#access-rules .rule-type .form-item{margin-top:0;}#access-rules .mask{clear:both;}#user-login-form{text-align:center;}#user-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#user-admin-buttons{float:left;margin-left:0.5em;clear:right;}#user-admin-settings fieldset .description{font-size:0.85em;padding-bottom:.5em;}.profile{clear:both;margin:1em 0;}.profile .picture{float:right;margin:0 1em 1em 0;}.profile h3{border-bottom:1px solid #ccc;}.profile dl{margin:0 0 1.5em 0;}.profile dt{margin:0 0 0.2em 0;font-weight:bold;}.profile dd{margin:0 0 1em 0;}


.views_slideshow_singleframe_no_display,.views_slideshow_singleframe_hidden,.views_slideshow_singleframe_controls,.views_slideshow_singleframe_image_count{display:none;}.views_slideshow_singleframe_pager div a img{width:75px;height:75px;}.views_slideshow_singleframe_pager div{display:inline;padding-left:10px;}.views_slideshow_singleframe_pager.thumbnails a.activeSlide img{border:3px solid #000;}.views_slideshow_singleframe_pager.numbered a.activeSlide{text-decoration:underline;}


.views_slideshow_thumbnailhover_no_display,.views_slideshow_thumbnailhover_hidden,.views_slideshow_thumbnailhover_controls,.views_slideshow_thumbnailhover_image_count{display:none;}

.views-exposed-form .views-exposed-widget{float:left;padding:.5em 1em 0 0;}.views-exposed-form .views-exposed-widget .form-submit{margin-top:1.6em;}.views-exposed-form .form-item,.views-exposed-form .form-submit{margin-top:0;margin-bottom:0;}.views-exposed-form label{font-weight:bold;}.views-exposed-widgets{margin-bottom:.5em;}html.js a.views-throbbing,html.js span.views-throbbing{background:url(/modules/views/images/status-active.gif) no-repeat right center;padding-right:18px;}div.view div.views-admin-links{font-size:xx-small;margin-right:1em;margin-top:1em;}.block div.view div.views-admin-links{margin-top:0;}div.view div.views-admin-links ul{padding-left:0;}div.view div.views-admin-links li a{color:#ccc;}div.view div.views-admin-links li{padding-bottom:2px;z-index:201;}div.view div.views-admin-links-hover a,div.view div.views-admin-links:hover a{color:#000;}div.view div.views-admin-links-hover,div.view div.views-admin-links:hover{background:transparent;;}div.view div.views-admin-links a:before{content:"[";}div.view div.views-admin-links a:after{content:"]";}div.view div.views-hide{display:none;}div.view div.views-hide-hover,div.view:hover div.views-hide{display:block;position:absolute;z-index:200;}div.view:hover div.views-hide{margin-top:-1.5em;}.views-view-grid tbody{border-top:none;}






  
  body{font-size:1em;color:#5F5F5F;}#page{font-size:0.875em;line-height:1.55em;}body,caption,th,td,input,textarea,select,option,legend,fieldset{font-family:Helvetica,Arial,"Bitstream Vera Sans",sans-serif;}.page-links{margin-top:40px;width:99%;}.book-navigation li.leaf{list-style-image:none;list-style-type:none;}.book-navigation ul.menu li{list-style-image:none;list-style-type:none;margin:0;font-size:1.20em;line-height:1.3em;margin:0;}pre,code{font-size:1.1em;font-family:"Bitstream Vera Sans Mono","Courier New",monospace;}h1{font-size:1.65em;letter-spacing:.5pt;line-height:1.3em;margin-top:0;margin-bottom:0.5em;}h2.title{font-size:1.20em;line-height:1.2em;margin-top:2em;margin-bottom:2em;}h2{font-size:1.20em;line-height:1.3em;margin-top:1.3em;margin-bottom:-.35em;}h3{font-size:1em;line-height:1.3em;margin-top:1.15em;margin-bottom:-0.84em;}.admin-panel h3{font-size:1em;margin-top:1.15em;margin-bottom:.6em;}.profile h3{border-bottom:1px solid #ccc;margin-bottom:1em;}h4,h5,h6{font-size:9.5pt;line-height:1.3em;margin-top:0.909em;margin-bottom:0.909em;}p,ul,ol,dl,pre,table,fieldset,blockquote{margin:1em 0;}ul,ol{margin-left:0;padding-left:2em;}.block ul,.item-list ul{margin:1em 0;padding:0 0 0 1.9em;}ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul{margin:0;}.item-list ul li{margin-bottom:20px;}li{margin:0;padding:0;}.item-list ul li{margin:0;padding:0;list-style:inherit;}ul.menu li,li.expanded,li.collapsed,li.leaf{}ul{list-style-type:disc;}ul ul{list-style-type:circle;}ul ul ul{list-style-type:square;}ul ul ul ul{list-style-type:circle;}ol{list-style-type:decimal;}ol ol{list-style-type:lower-alpha;}ol ol ol{list-style-type:decimal;}dt{margin:0;padding:0;}dd{margin:0 0 0 2em;padding:0;}a{text-decoration:none;}a:link{color:#4199BD;}a:visited{color:#4199BD;}a:hover,a:focus{color:#f4a930;}a:active{}a.popup span{display:none;}a.popup:hover{position:relative;}a.popup:hover span{display:block;position:absolute;top:40px;left:40px;background:#4199BD;color:#FFF;width:450px;padding:10px;}#footer-inner a{text-decoration:none;color:#dddddd;font-size:8.5pt;}#footer-inner a:hover{color:#f4a930;}#footer-inner a:visited{color:#eee;}#footer-inner a:active{color:#f4a930;}table{border-collapse:collapse;}th,thead th,tbody th{text-align:left;padding-right:0;border-bottom:none;}tbody{border-top:none;}abbr{border-bottom:1px dotted #666;cursor:help;white-space:nowrap;}abbr.created{border:none;cursor:auto;white-space:normal;}img{border:0;}.img-225-right{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#999999 none repeat scroll 0 0;float:right;height:225px;margin:0 5px 15px 20px;padding:1px;width:225px;}.img-225-left{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#999999 none repeat scroll 0 0;float:left;height:225px;margin:15px 15px 15px 0;padding:1px;width:225px;}.img-500-300{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#999999 repeat scroll 0 0;height:300px;float:left;margin:15px 15px 15px 0;padding:1px;width:500px;}hr{height:1px;border:1px solid #666;}form{margin:0;padding:0;}fieldset{margin:1em 0;padding:0.5em;}.view-content ul li{margin-bottom:20px;margin-left:-25px;list-style-image:none;list-style-type:none;}.view-content label{font-weight:bold;}.views-field-field-title-value,.views-field-field-fs-name-value{margin-bottom:4px;}.views-field-field-title-value label,.views-field-field-fs-name-value label{display:none;}.views-field-field-title-value span,.views-field-field-fs-name-value span{font-size:1.2em;}




  div.tabs{margin:0 0 5px 0;}ul.primary{margin:0;padding:0 0 0 10px;border-width:0;list-style:none;white-space:nowrap;line-height:normal;background:url(/sites/all/themes/zen/zen/images/tab-bar.png) repeat-x left bottom;}ul.primary li{float:left;margin:0;padding:0;}ul.primary li a{display:block;height:24px;margin:0;padding:0 0 0 5px;border-width:0;font-weight:bold;text-decoration:none;color:#777;background-color:transparent;background:url(/sites/all/themes/zen/zen/images/tab-left.png) no-repeat left -38px;}ul.primary li a .tab{display:block;height:20px;margin:0;padding:4px 13px 0 6px;border-width:0;line-height:20px;background:url(/sites/all/themes/zen/zen/images/tab-right.png) no-repeat right -38px;}ul.primary li a:hover{border-width:0;background-color:transparent;background:url(/sites/all/themes/zen/zen/images/tab-left.png) no-repeat left -76px;}ul.primary li a:hover .tab{background:url(/sites/all/themes/zen/zen/images/tab-right.png) no-repeat right -76px;}ul.primary li.active a,ul.primary li.active a:hover{border-width:0;color:#000;background-color:transparent;background:url(/sites/all/themes/zen/zen/images/tab-left.png) no-repeat left 0;}ul.primary li.active a .tab,ul.primary li.active a:hover .tab{background:url(/sites/all/themes/zen/zen/images/tab-right.png) no-repeat right 0;}ul.secondary{margin:0;padding:0 0 0 5px;border-bottom:1px solid #c0c0c0;list-style:none;white-space:nowrap;background:url(/sites/all/themes/zen/zen/images/tab-secondary-bg.png) repeat-x left bottom;}ul.secondary li{float:left;margin:0 5px 0 0;padding:5px 0;border-right:none;}ul.secondary a{display:block;height:24px;margin:0;padding:0;border:1px solid #c0c0c0;text-decoration:none;color:#777;background:url(/sites/all/themes/zen/zen/images/tab-secondary.png) repeat-x left -56px;}ul.secondary a .tab{display:block;height:18px;margin:0;padding:3px 8px;line-height:18px;}ul.secondary a:hover{background:url(/sites/all/themes/zen/zen/images/tab-secondary.png) repeat-x left bottom;}ul.secondary a.active,ul.secondary a.active:hover{border:1px solid #c0c0c0;color:#000;background:url(/sites/all/themes/zen/zen/images/tab-secondary.png) repeat-x left top;}





  div.messages,div.status,div.warning,div.error{min-height:21px;margin:0 1em 5px 1em;border:2px solid #ff7;padding:5px 5px 5px 35px;color:#000;background-color:#ffc;background-image:url(/sites/all/themes/zen/zen/images/messages-status.png);background-repeat:no-repeat;background-position:5px 5px;}div.status{}div.warning{border-color:#fc0;background-image:url(/sites/all/themes/zen/zen/images/messages-warning.png);}div.warning,tr.warning{color:#000;background-color:#ffc;}div.error{border-color:#c00;background-image:url(/sites/all/themes/zen/zen/images/messages-error.png);}div.error,tr.error{color:#900;background-color:#fee;}div.messages ul{margin-top:0;margin-bottom:0;}




  div.block.with-block-editing{position:relative;}div.block.with-block-editing div.edit{display:none;position:absolute;right:0;top:0;z-index:40;border:1px solid #eee;padding:0 2px;font-size:0.75em;background-color:#fff;}div.block.with-block-editing:hover div.edit{display:block;}





  .with-wireframes #header-inner,.with-wireframes #content-inner,.with-wireframes #content-inner>*,.with-wireframes #navbar-inner,.with-wireframes #sidebar-left-inner,.with-wireframes #sidebar-right-inner,.with-wireframes #footer-inner{margin:1px;padding:2px;border:1px solid #ccc;}.with-wireframes #closure-blocks{margin-top:1px;padding:2px;border:1px solid #ccc;}






  body,html{}#page,#closure-blocks{margin-left:auto;margin-right:auto;width:984px;}#page-inner{}#navigation-top,#navigation{position:absolute;left:-10000px;}#skip-to-nav{float:right;margin:0 !important;font-size:0.8em;}#skip-to-nav a:link,#skip-to-nav a:visited{color:#fff;}#skip-to-nav a:hover{color:#000;text-decoration:none;}#header{width:984px;}#header-inner{height:175px;}#logo-title{}#logo{float:left;}#site-name{}#site-slogan{}#header-blocks{clear:both;Clear the logo */}#main{border-top:1px solid #96A694;border-left:1px solid #96A694;border-right:1px solid #96A694;width:984px;background-color:#fff;}#main-inner{margin-left:14px;margin-right:14px;margin-top:16px;}#content{}#content,.no-sidebars #content{float:left;width:984px;margin-left:0;margin-right:-984px;padding:0;}.sidebar-left #content{width:760px;margin-left:200px;margin-right:-984px;}.sidebar-right #content{width:760px;margin-left:0;margin-right:-760px;}.two-sidebars #content{width:560px;margin-left:200px;margin-right:-760px;}#content-inner{margin:0;padding:0;}#navbar{float:left;width:100%;margin-left:0;margin-right:-100%;padding:0;}.with-navbar #content,.with-navbar #sidebar-left,.with-navbar #sidebar-right{margin-top:2.3em;}#navbar-inner{height:24px;}#search-box{width:200px;margin-right:-200px;float:left;}#primary{margin-left:200px;}#secondary{margin-left:200px;}#navbar ul{margin:0;padding:0;text-align:left;}#navbar li{float:left;padding:0 10px 0 0;}#sidebar-left{float:left;width:260px;margin-left:0;margin-right:-260px;padding:0;}#sidebar-left-inner{margin:0 20px 0 0;}#sidebar-right{float:left;width:140px;margin-left:820px;margin-right:-960px;padding:0;}#sidebar-right-inner{margin:0 0 0 16px;padding:0;}#footer{background:url(/sites/all/themes/everhooddesign_webguru/img/footer.jpg);background-repeat:repeat-x;border-left:1px solid #96A694;border-right:1px solid #96A694;width:984px;margin-bottom:-15px;height:334px;}}#closure-blocks{}#header,#content,#navbar,#sidebar-left,#sidebar-right,#footer,#closure-blocks{overflow:visible;word-wrap:break-word;}#navbar{overflow:hidden;width:260px;}






.pld{border:1px solid #ccc;padding:16px;margin-top:16px;font-size:1.2em;line-height:1.3em;}.view-Research-Profiles li.views-row{border:1px #ccc solid;padding:16px;}.views-field-field-frontslide-data{position:absolute;bottom:0px;right:0px;margin:20px;padding:12px;background:#eee;}.views-content-field-frontslide-data a{color:#288AAE;font-size:1.2em;text-transform:uppercase;letter-spacing:2px;font-weight:bold;}.views-field-field-urslide-data{position:absolute;bottom:0px;right:0px;margin:20px;padding:12px;background:#eee;}.views-content-field-urslide-data a{color:#288AAE;font-size:1.2em;text-transform:uppercase;letter-spacing:2px;font-weight:bold;}.views-field-field-labslide-data{position:absolute;bottom:0px;right:0px;margin:20px;padding:12px;background:#eee;}.views-content-field-labslide-data a{color:#288AAE;font-size:1.2em;text-transform:uppercase;letter-spacing:2px;font-weight:bold;}.views-field-field-profslide-data{position:absolute;bottom:0px;right:0px;margin:20px;padding:12px;background:#eee;}.views-content-field-profslide-data a{color:#288AAE;font-size:1.2em;text-transform:uppercase;letter-spacing:2px;font-weight:bold;}.views-field-field-commslide-data{position:absolute;bottom:0px;right:0px;margin:20px;padding:12px;background:#eee;}.views-content-field-commslide-data a{color:#288AAE;font-size:1.2em;text-transform:uppercase;letter-spacing:2px;font-weight:bold;}.views-field-field-mentorslide-data{position:absolute;bottom:0px;right:0px;margin:20px;padding:12px;background:#eee;}.views-content-field-mentorslide-data a{color:#288AAE;font-size:1.2em;text-transform:uppercase;letter-spacing:2px;font-weight:bold;}.views-content-field-frontslide-fid img{float:left;margin-right:8px;margin-top:8px;}.views-content-field-urslide-fid img{float:left;margin-right:8px;margin-top:8px;}.views-content-field-labslide-fid img{float:left;margin-right:8px;margin-top:8px;}.views-content-field-profslide-fid img{float:left;margin-right:8px;margin-top:8px;}.views-content-field-commslide-fid img{float:left;margin-right:8px;margin-top:8px;}.views-content-field-mentorslide-fid img{float:left;margin-right:8px;margin-top:8px;}.block-views{margin-top:-10px;}.views-row img{float:left;margin-right:12px;margin-top:6px;}.views-field-field-rp-description-value{margin-left:113px;}.views-field-field-rp-name-value{}.submitted{display:none;}.field-label{margin-top:1em;}#block-views-popular-block_2 li{margin-bottom:6px;}#block-views-popular-block_2 .views-label-title{display:none;}#block-views-popular-block_2 .views-label-timestamp{display:none;}#block-views-popular-block_2 .pager{display:none;}body{background:url(/sites/all/themes/everhooddesign_webguru/img/bg.jpg);background-repeat:repeat-x;}#page{}#page-inner{}#header{}#header-inner{}#skip-to-nav{display:none;}#header_bottom{display:block;height:4em;margin:0;padding:0;}.field-field-slide-front{display:none;}.field-field-slide-professional{display:none;}.field-field-slide-ur{display:none;}.field-field-slide-lab{display:none;}.field-field-rp-portrait .field-label,.field-field-rp-portrait img{display:none;}.field-field-rp-name .field-label,.field-field-rp-name .field-items{display:none;}.book_add_child{margin-right:30px;}.page-next{padding:2px;}.page-previous{padding:4px;}.book-navigation{margin-top:16px;margin-bottom:16px;}.book-navigation ul.menu{border:1px solid #ccc;padding:16px;}.page-links{border-bottom:1px solid #CCC;margin-bottom:6px;}.book-navigation li{}#edit-search-block-form-1{width:165px;}#logo-title{}#logo{margin:0 10px 0 0;padding:0;}#logo-image{}h1#site-name,div#site-name{margin:0;font-size:2em;line-height:1.3em;}#site-name a:link,#site-name a:visited{color:#000;text-decoration:none;}#site-name a:hover{text-decoration:underline;}#site-slogan{}#header-blocks{}#main{}#main-inner{}#content{}#content-inner{}#mission{}#content-top{}#content-header{}.breadcrumb{padding-bottom:0;}h1.title,h2.title,h3.title{margin:0;}div.messages{}div.status{}div.warning,tr.warning{}div.error,tr.error{}div.tabs{}.help{margin:1em 0;}.more-help-link{font-size:0.85em;text-align:right;}#content-area{}ul.links{margin:1em 0;padding:0;}ul.links.inline{margin:0;display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0 0;}.pager{clear:both;margin:1em 0;text-align:center;}.pager a,.pager strong.pager-current{padding:0.5em;}.feed-icons{margin:1em 0;}#content-bottom{}#navbar{}#navbar-inner{}#search-box{}#edit-search-block-form-1-wrapper label{display:none;}#edit-search-theme-form-1-wrapper label{display:none;}#primary{}#secondary{}#sidebar-left{}#sidebar-left-inner{margin-top:-4px;}#sidebar-right{}#sidebar-right-inner{}#footer{}#footer-inner{padding:40px 10px 0px 20px;height:220px;}#block-block-9 a{margin-top:4px;}#block-block-9 .section{float:left;margin-right:15px;}#footer-message{}#closure-blocks{}.node{}.node-inner{}.sticky{}.node-unpublished{}.node-unpublished div.unpublished,.comment-unpublished div.unpublished{height:0;overflow:visible;color:#d8d8d8;font-size:75px;line-height:1;font-family:Impact,"Arial Narrow",Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word;}.node-mine{}.node-teaser{width:580px;}.node-teaser h2{margin-top:26px;margin-bottom:-8px;}.node-teaser p{margin-bottom:6px;}.node-type-page{}.node-type-story{}.node h2.title{}.marker{color:#c00;}.node .picture{}.node.node-unpublished .picture,.comment.comment-unpublished .picture{position:relative;}.node .meta{}.node .submitted{}.node .terms{}.node .content{}.node ul.links{}.preview .node{}#comments{margin:1em 0;}#comments-title{}.comment{}.comment-inner{}.comment-preview{}.comment.new{}.comment.odd{}.comment.even{}.comment.first{}.comment.last{}.comment-unpublished{}.comment-unpublished div.unpublished{}.comment-published{}.comment-by-anon{}.comment-by-author{}.comment-mine{}.comment h3.title{}.new{color:#c00;}.comment .picture{}.comment .submitted{}.comment .content{}.comment .user-signature{}.comment ul.links{margin:1em 0;}.indented{}.preview .comment{}.block{margin-bottom:1em;}.block.region-odd{}.block.region-even{}.block.odd{}.block.even{}.region-count-1{}.count-1{}.block-inner{}.block h2.title{}.block .content{}#block-aggregator-category-1{}#block-aggregator-feed-1{border:1px solid #ccc;float:left;margin-right:8px;padding:4px;}#views_slideshow_singleframe_controls_program_listings-block_1 a{margin-right:15px;}#block-block-1{border:1px solid #ccc;clear:left;padding:4px;margin-top:10px;}#block-block-2{border:1px solid #ccc;padding:4px;clear:left;font-size:13px;}#block-user-3{background-color:#F0F0EE;border:1px solid #ccc;padding:4px;list-style:none;}#block-block-4{border:1px solid #ccc;width:47%;float:left;margin-right:8px;padding:4px;}#block-block-5{border:1px solid #ccc;width:47%;float:left;padding:4px;}#block-block-6{border:1px solid #ccc;width:47%;float:left;padding:4px;margin-right:8px;}#block-block-7{border:1px solid #ccc;padding:4px;min-height:100px;}#block-block-9 a img{margin:-10px 2px 6px 2px;width:35px;height:35px;float:left;}#block-block-9{clear:right;}#block-block-9 .clear{clear:both;}#block-block-9 .border{width:100%;}#block-block-11{padding:6px;width:135px;margin-top:68px;}#block-block-11 img{padding-right:4px;float:left;}#block-block-11 div{}#block-block-11 ul{list-style:none;padding:0;margin:0;}#block-block-11 li{padding:4px;height:20px;}#block-block-11 a{text-decoration:none;color:#333;}#block-block-12{border:1px solid #ccc;padding:4px;min-height:100px;}#block-views-popular-block{border:1px solid #ccc;padding:4px;}#block-views-popular-block_2{border:1px solid #ccc;padding:4px;}#block-mostpopular-0{border:1px solid #ccc;padding:4px;min-height:100px;}#block-views-program_listings-block_1{margin-top:4px;border:1px solid #ccc;padding:4px;min-height:100px;}#block-block-15{margin-right:-20px;}#block-block-15 li{float:right;margin-right:20px;list-style-image:none;list-style-position:outside;list-style-type:none;}#block-blog-0{}#block-book-0{}#block-comment-0{}#block-forum-0{}#block-forum-1{}#block-menu-primary-links{}#block-menu-secondary-links{float:right;margin-right:6px;margin-top:-49px;}[if IE] #block-menu-secondary-links{margin-top:0px;}#block-menu-secondary-links li.leaf{float:right;list-style:none;text-decoration:none;}#block-menu-secondary-links .leaf  a{text-decoration:none;color:#5F5F5F;}#block-menu-secondary-links a:hover{border-bottom:6px solid #F4A930;}.feed-icons{margin-top:40px;padding-top:20px;border-top:1px solid #cccccc;}#block-nice_menus-1{}#block-nice_menus-2{}#block-nice_menus-3{}#block-nice_menus-4{}#block-node-0{}#block-poll-0{}#block-profile-0{}#block-search-0{}#block-statistics-0{}#block-user-0{}#block-user-1{border:1px solid #C5C5C3;}#block-user-2{}#block-user-3{}.box{}.box-inner{}.box h2.title{}.box .content{}.error{}.warning{}.more-link{text-align:right;}#user-login-form{text-align:left;}tr.even{}tr.odd{}li a.active{color:#4199BD;}.form-item,.form-checkboxes,.form-radios{margin:1em 0;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid #c00;}.form-item label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-required{color:#c00;}.form-item .description{font-size:0.85em;}.form-checkboxes .form-item,.form-radios .form-item{margin:0.4em 0;}.form-submit{}.container-inline div,.container-inline label{display:inline;}.tips{margin:0;padding:0;font-size:0.9em;}#user-login-form ul{margin-bottom:0;}#user-login-form li.openid-link{margin-top:1em;margin-left:-20px;}#user-login-form li.user-link{margin-top:1em;}#user-login ul{margin:1em 0;}#user-login li.openid-link,#user-login li.user-link{margin-left:-2em;}.leaf last active-trail
  
  
  

  
  form tbody{border-top:1px solid #ccc;}form th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}form tbody th{border-bottom:1px solid #ccc;}form thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}


.book-navigation .menu{border-top:1px solid #888;padding:1em 0 0 3em;}.book-navigation .page-links{border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;padding:0.5em;}.book-navigation .page-previous{text-align:left;width:40%;display:block;float:left;}.book-navigation .page-up{margin:0 5%;width:4%;display:block;float:left;}.book-navigation .page-next{text-align:right;width:40%;display:block;float:right;}#book-outline{min-width:56em;}.book-outline-form .form-item{margin-top:0;margin-bottom:0;}#edit-book-bid-wrapper .description{clear:both;}#book-admin-edit select{margin-right:24px;}#book-admin-edit select.progress-disabled{margin-right:0;}#book-admin-edit tr.ahah-new-content{background-color:#ffd;}#book-admin-edit .form-item{float:left;}




#page,.no-sidebars #content{width:954px;}#sidebar-left{width:260px;}#sidebar-right{width:150px;margin-left:780px;margin-right:-984px;}#content{margin-right:-984px;}.sidebar-left #content{width:697px;margin-left:260px;margin-right:-984px;}.sidebar-right #content{width:697px;margin-right:-820px;}.two-sidebars #content{width:520px;margin-left:260px;margin-right:-820px;}
