<h1>Diazo</h1>
<h2><a href="mol">Optimized geometry files</a></h2>
<h2><a href="out">Out files</a></h2>
<table border=1>
 <tr> <td>Reaction</td> <td>G 298.15</td> <td>H 298.15</td> <td>S*T 298.15</td> <td>G 348.15</td> <td>H 348.15</td> <td>S*T 348.15</td> <td>G 353.15</td> <td>H 353.15</td> <td>S*T 353.15</td> <td>G 358.15</td> <td>H 358.15</td> <td>S*T 358.15</td>  </tr>
 <tr><td>o-NO2-Ph-N2-OTf = o-NO2-Ph-OTf + N2</td><td>-268.56</td> <td>-230.10</td> <td>38.48</td> <td>-274.98</td> <td>-230.40</td> <td>44.61</td> <td>-275.62</td> <td>-230.44</td> <td>45.21</td> <td>-276.26</td> <td>-230.47</td> <td>45.82</td> </tr>
 <tr><td>m-NO2-Ph-N2-OTf = m-NO2-Ph-OTf + N2</td><td>-282.39</td> <td>-242.79</td> <td>39.62</td> <td>-289.00</td> <td>-243.13</td> <td>45.90</td> <td>-289.66</td> <td>-243.17</td> <td>46.53</td> <td>-290.32</td> <td>-243.20</td> <td>47.15</td> </tr>
 <tr><td>p-NO2-Ph-N2-OTf = p-NO2-Ph-OTf + N2</td><td>-287.57</td> <td>-247.98</td> <td>39.61</td> <td>-294.18</td> <td>-248.33</td> <td>45.88</td> <td>-294.84</td> <td>-248.36</td> <td>46.50</td> <td>-295.50</td> <td>-248.40</td> <td>47.12</td> </tr>
 <tr><td>p-NO2-Ph-N2-BF4 = p-NO2-Ph-N2-F + BF3</td><td>76.15</td> <td>124.59</td> <td>48.47</td> <td>70.11</td> <td>123.76</td> <td>53.68</td> <td>69.34</td> <td>123.67</td> <td>54.37</td> <td>68.57</td> <td>123.58</td> <td>55.05</td> </tr>
 <tr><td>p-NO2-Ph-N2-F = p-NO2-Ph-F + N2</td><td>-352.32</td> <td>-312.94</td> <td>39.41</td> <td>-356.91</td> <td>-313.17</td> <td>43.77</td> <td>-357.54</td> <td>-313.20</td> <td>44.36</td> <td>-358.17</td> <td>-313.23</td> <td>44.96</td> </tr>
 <tr><td>p-NO2-Ph-N2-BF4 = p-NO2-Ph-F + BF3 + N2</td><td>-276.17</td> <td>-188.35</td> <td>87.88</td> <td>-286.80</td> <td>-189.42</td> <td>97.45</td> <td>-288.20</td> <td>-189.53</td> <td>98.73</td> <td>-289.60</td> <td>-189.65</td> <td>100.01</td> </tr>
 <tr><td>p-NO2-Ph-N2-BF4 = p-NO2-Ph-F-BF3 + N2</td><td>-250.34</td> <td>-191.73</td> <td>58.65</td> <td>-260.09</td> <td>-191.98</td> <td>68.15</td> <td>-261.07</td> <td>-192.02</td> <td>69.10</td> <td>-262.04</td> <td>-192.05</td> <td>70.04</td> </tr>
 <tr><td>p-NO2-Ph-N2-OTs = p-NO2-Ph-OTs + N2</td><td>-328.43</td> <td>-283.85</td> <td>44.62</td> <td>-335.90</td> <td>-283.97</td> <td>51.97</td> <td>-336.66</td> <td>-283.99</td> <td>52.70</td> <td>-337.41</td> <td>-284.01</td> <td>53.43</td> </tr>
 <tr><td>p-CH3O-Ph-N2-OTf = p-CH3O-Ph-OTf + N2</td><td>-238.11</td> <td>-200.49</td> <td>37.65</td> <td>-244.40</td> <td>-200.81</td> <td>43.62</td> <td>-245.02</td> <td>-200.84</td> <td>44.21</td> <td>-245.65</td> <td>-200.88</td> <td>44.80</td> </tr>
</table>
<h3>Reaction: <a href="mol/o-NO2-Ph-N2-OTf-RB3LYP-aug-cc-pVDZ.mol">o-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/o-NO2-Ph-OTf-RB3LYP-aug-cc-pVDZ.mol">o-NO<sub>2</sub>-Ph-OTf</a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-268.56</td> <td>-230.10</td> <td>38.48</td></tr>
 <tr><td>348.15</td> <td>-274.98</td> <td>-230.40</td> <td>44.61</td></tr>
 <tr><td>353.15</td> <td>-275.62</td> <td>-230.44</td> <td>45.21</td></tr>
 <tr><td>358.15</td> <td>-276.26</td> <td>-230.47</td> <td>45.82</td></tr>
</table><br>
<img src="img/o-NO2-Ph-N2-OTf = o-NO2-Ph-OTf + N2-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/m-NO2-Ph-N2-OTf-RB3LYP-aug-cc-pVDZ.mol">m-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/m-NO2-Ph-OTf-RB3LYP-aug-cc-pVDZ.mol">m-NO<sub>2</sub>-Ph-OTf</a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-282.39</td> <td>-242.79</td> <td>39.62</td></tr>
 <tr><td>348.15</td> <td>-289.00</td> <td>-243.13</td> <td>45.90</td></tr>
 <tr><td>353.15</td> <td>-289.66</td> <td>-243.17</td> <td>46.53</td></tr>
 <tr><td>358.15</td> <td>-290.32</td> <td>-243.20</td> <td>47.15</td></tr>
</table><br>
<img src="img/m-NO2-Ph-N2-OTf = m-NO2-Ph-OTf + N2-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/p-NO2-Ph-N2-OTf-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/p-NO2-Ph-OTf-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-OTf</a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-287.57</td> <td>-247.98</td> <td>39.61</td></tr>
 <tr><td>348.15</td> <td>-294.18</td> <td>-248.33</td> <td>45.88</td></tr>
 <tr><td>353.15</td> <td>-294.84</td> <td>-248.36</td> <td>46.50</td></tr>
 <tr><td>358.15</td> <td>-295.50</td> <td>-248.40</td> <td>47.12</td></tr>
</table><br>
<img src="img/p-NO2-Ph-N2-OTf = p-NO2-Ph-OTf + N2-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/p-NO2-Ph-N2-BF4-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a> = <a href="mol/p-NO2-Ph-N2-F-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-N<sub>2</sub>-F</a> + <a href="mol/BF3-RB3LYP-aug-cc-pVDZ.mol">BF<sub>3</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>76.15</td> <td>124.59</td> <td>48.47</td></tr>
 <tr><td>348.15</td> <td>70.11</td> <td>123.76</td> <td>53.68</td></tr>
 <tr><td>353.15</td> <td>69.34</td> <td>123.67</td> <td>54.37</td></tr>
 <tr><td>358.15</td> <td>68.57</td> <td>123.58</td> <td>55.05</td></tr>
</table><br>
<img src="img/p-NO2-Ph-N2-BF4 = p-NO2-Ph-N2-F + BF3-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/p-NO2-Ph-N2-F-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-N<sub>2</sub>-F</a> = <a href="mol/p-NO2-Ph-F-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-F</a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-352.32</td> <td>-312.94</td> <td>39.41</td></tr>
 <tr><td>348.15</td> <td>-356.91</td> <td>-313.17</td> <td>43.77</td></tr>
 <tr><td>353.15</td> <td>-357.54</td> <td>-313.20</td> <td>44.36</td></tr>
 <tr><td>358.15</td> <td>-358.17</td> <td>-313.23</td> <td>44.96</td></tr>
</table><br>
<img src="img/p-NO2-Ph-N2-F = p-NO2-Ph-F + N2-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/p-NO2-Ph-N2-BF4-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a> = <a href="mol/p-NO2-Ph-F-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-F</a> + <a href="mol/BF3-RB3LYP-aug-cc-pVDZ.mol">BF<sub>3</sub></a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-276.17</td> <td>-188.35</td> <td>87.88</td></tr>
 <tr><td>348.15</td> <td>-286.80</td> <td>-189.42</td> <td>97.45</td></tr>
 <tr><td>353.15</td> <td>-288.20</td> <td>-189.53</td> <td>98.73</td></tr>
 <tr><td>358.15</td> <td>-289.60</td> <td>-189.65</td> <td>100.01</td></tr>
</table><br>
<img src="img/p-NO2-Ph-N2-BF4 = p-NO2-Ph-F + BF3 + N2-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/p-NO2-Ph-N2-BF4-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-N<sub>2</sub>-BF<sub>4</sub></a> = <a href="mol/p-NO2-Ph-F-BF3-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-F-BF<sub>3</sub></a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-250.34</td> <td>-191.73</td> <td>58.65</td></tr>
 <tr><td>348.15</td> <td>-260.09</td> <td>-191.98</td> <td>68.15</td></tr>
 <tr><td>353.15</td> <td>-261.07</td> <td>-192.02</td> <td>69.10</td></tr>
 <tr><td>358.15</td> <td>-262.04</td> <td>-192.05</td> <td>70.04</td></tr>
</table><br>
<img src="img/p-NO2-Ph-N2-BF4 = p-NO2-Ph-F-BF3 + N2-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/p-NO2-Ph-N2-OTs-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-N<sub>2</sub>-OTs</a> = <a href="mol/p-NO2-Ph-OTs-RB3LYP-aug-cc-pVDZ.mol">p-NO<sub>2</sub>-Ph-OTs</a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-328.43</td> <td>-283.85</td> <td>44.62</td></tr>
 <tr><td>348.15</td> <td>-335.90</td> <td>-283.97</td> <td>51.97</td></tr>
 <tr><td>353.15</td> <td>-336.66</td> <td>-283.99</td> <td>52.70</td></tr>
 <tr><td>358.15</td> <td>-337.41</td> <td>-284.01</td> <td>53.43</td></tr>
</table><br>
<img src="img/p-NO2-Ph-N2-OTs = p-NO2-Ph-OTs + N2-fT.gif" width="37%"><br><br>

<h3>Reaction: <a href="mol/p-CH3O-Ph-N2-OTf-RB3LYP-aug-cc-pVDZ.mol">p-CH3O-Ph-N<sub>2</sub>-OTf</a> = <a href="mol/p-CH3O-Ph-OTf-RB3LYP-aug-cc-pVDZ.mol">p-CH3O-Ph-OTf</a> + <a href="mol/N2-RB3LYP-aug-cc-pVDZ.mol">N<sub>2</sub></a></h3>
<table border=1> 
<tr><td>T</td> <td>dG</td> <td>dH</td> <td>S*T</td></tr>
 <tr><td>298.15</td> <td>-238.11</td> <td>-200.49</td> <td>37.65</td></tr>
 <tr><td>348.15</td> <td>-244.40</td> <td>-200.81</td> <td>43.62</td></tr>
 <tr><td>353.15</td> <td>-245.02</td> <td>-200.84</td> <td>44.21</td></tr>
 <tr><td>358.15</td> <td>-245.65</td> <td>-200.88</td> <td>44.80</td></tr>
</table><br>
<img src="img/p-CH3O-Ph-N2-OTf = p-CH3O-Ph-OTf + N2-fT.gif" width="37%"><br><br>

