<table border=1>
 <tr>
  <td>Name</td>
  <td>P0</td>
  <td>k</td>
  <td>dH</td>
  <td>C0</td>
 </tr>
 <tr>
  <td>Stat-V1</td>
  <td>9.934940 +- 4.322269</td>
  <td>0.081778 +- 0.009120</td>
  <td>231.010000 +- 12.392590</td>
  <td>0.000017 +- 0.000009</td>
 </tr>
 <tr>
  <td>Stat-V2</td>
  <td>12.674000 +- 3.539235</td>
  <td>0.082494 +- 0.011883</td>
  <td>243.600000 +- 20.727051</td>
  <td>0.000021 +- 0.000008</td>
 </tr>
 <tr>
  <td>Stat-V3</td>
  <td>11.897656 +- 2.034291</td>
  <td>0.093436 +- 0.008043</td>
  <td>240.144444 +- 5.607473</td>
  <td>0.000017 +- 0.000002</td>
 </tr>
 <tr>
  <td>Stat-V3-V</td>
  <td>10.743150 +- 5.127949</td>
  <td>0.084915 +- 0.004148</td>
  <td>237.475000 +- 13.263826</td>
  <td>0.000017 +- 0.000007</td>
 </tr>
 <tr>
  <td>Stat-V3-Ar</td>
  <td>12.821260 +- 2.426747</td>
  <td>0.100252 +- 0.011325</td>
  <td>242.280000 +- 7.998572</td>
  <td>0.000017 +- 0.000003</td>
 </tr>
 <tr>
  <td>Stat-V-Src</td>
  <td>16.506450 +- 7.870086</td>
  <td>0.084220 +- 0.007387</td>
  <td>234.905000 +- 8.146217</td>
  <td>0.000027 +- 0.000012</td>
 </tr>
 <tr>
  <td>Stat-V-PK1</td>
  <td>11.454000 +- 1.518219</td>
  <td>0.086205 +- 0.008760</td>
  <td>239.300000 +- 25.072413</td>
  <td>0.000018 +- 0.000003</td>
 </tr>
 <tr>
  <td>Stat-V-PK2</td>
  <td>11.897656 +- 2.034291</td>
  <td>0.093436 +- 0.008043</td>
  <td>240.144444 +- 5.607473</td>
  <td>0.000017 +- 0.000002</td>
 </tr>
 <tr>
  <td>Stat-V-all</td>
  <td>13.824322 +- 3.293184</td>
  <td>0.088171 +- 0.004467</td>
  <td>237.719565 +- 4.591078</td>
  <td>0.000022 +- 0.000005</td>
 </tr>
</table>
